@model IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>
@{
    ViewData["Title"] = "Count_Leave";
    var List_PayOfLeave = ViewBag.PayOfLeave;
}


<h2>Count_Leave</h2>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">本月請假紀錄</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                        <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr style="text-align:center">
                            <th>
                                @Html.DisplayNameFor(model => model.CSalary_LeaveCate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CSalary_LeaveCateName)
                            <th>
                                @Html.DisplayNameFor(model => model.CSalary_LeaveCateCount)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CSalary_LeavePercent)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Leave_HaveToPay)
                            </th>
                        </tr>
                    </thead>
                    <tbody>


                        @foreach (var item in Model)
                        {
                        <tr style="text-align:center">
                            <td>
                                @Html.DisplayFor(modelItem => item.CSalary_LeaveCate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSalary_LeaveCateName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CSalary_LeaveCateCount)
                            </td>
                            <th>
                                @Html.DisplayFor(modelItem => item.CSalary_LeavePercent)
                            </th>
                            <th>
                                @Html.DisplayFor(modelItem => item.Leave_HaveToPay)
                            </th>

                        </tr>                 
                        }

                        </br>
                    @{int count = 0; }
                        @foreach (var item in Model)
                        {
                         <div>@count +=@Html.DisplayFor(modelItem => item.Leave_HaveToPay)</div>
                        }
                        

                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

@*<div class="card">
    <div class="card-header">
        <table table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CSalary_LeaveCate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CSalary_LeaveCateName)
                    <th>
                        @Html.DisplayNameFor(model => model.CSalary_LeaveCateCount)
                    </th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="text-align:center">
                        <td>
                            @Html.DisplayFor(modelItem => item.CSalary_LeaveCate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CSalary_LeaveCateName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CSalary_LeaveCateCount)
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>*@
