@model IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>
@{
    ViewData["Title"] = "SalaryList_supervisor";

    var Late = ViewBag.Late;
    var Leave = ViewBag.Leave;
    var DEPT = ViewBag.DEPT;
    var JOBTITLE = ViewBag.JOBTITLE;
}


<div class="card">
    <div class="card-header">
        <table table class="table table-bordered table-hover">
            <thead>

                <tr style="text-align:center">
                    @{ string checkbox = "1checkbox-toggle";
                    }

                    <th>
                        <button type="button" class="@checkbox btn btn-default btn-sm">
                            <i class="far fa-square"></i>
                        </button>
                        @Html.DisplayNameFor(model => model.CDepartment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CEmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CJobTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Month_Salary)
                    </th>
                    <th>
                        差旅費
                    </th>
                    <th>
                        遲到扣款
                    </th>
                    <th>
                        請假扣款
                    </th>
                    <th>
                        詳細資料
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    string CHECKBOX = "1CHECKBOX";
                <tr style="text-align:center">


                    <td>
                        <div class="@CHECKBOX icheck-primary">
                            <input type="checkbox" value="@item.CEmployeeId" name="Checkbox[]" id="check1">
                            <label for="check1"></label>
                            @Html.DisplayFor(modelItem => item.CDepartment)
                        </div>

                    </td>
                    <td class="NAME">
                        @Html.DisplayFor(modelItem => item.CEmployeeName)
                    </td>
                    @{

                        string Month_Salary = item.CDepartmentId.ToString() + "Month_Salary";    //動態給予Class
                        string Travel = item.CDepartmentId.ToString() + "Travel";
                        string Tabsense = item.CDepartmentId.ToString() + "Tabsense";
                        string LLeave = item.CDepartmentId.ToString() + "LLeave";
                        //string Jobtitle = item.CJobTitle.ToString() + "Jobtitle";
                    }

                    <td>
                        @Html.DisplayFor(modelItem => item.CJobTitle)
                    </td>



                    <td class="@Month_Salary JobTitle_Salary">
                        @Html.DisplayFor(modelItem => item.Month_Salary)
                    </td>

                    <td class="@Travel JobTitle_Travel">
                        @Html.DisplayFor(modelItem => item.CAmont_Travel)
                    </td>

                    <td class="@Tabsense JobTitle_TAbsense subCate">
                        @Html.DisplayFor(modelItem => item.CAmont_TAbsense)
                    </td>

                    <td class="@LLeave JobTitle_Leave subCate">
                        @Html.DisplayFor(modelItem => item.CAmont_Leave)
                    </td>
                    <td class="DETAIL">
                        @Html.DisplayFor(modelItem => item.CSalary_Total)
                    </td>

                    <td>
                        @Html.ActionLink("詳細資料", "Detail", new { id = item.CEmployeeId }, new { @class = "btn btn-success" })

                    </td>
                </tr>
                }


                <tr style="text-align:center; background-color:tan; font-weight:bold">

                    <td colspan="3">
                        部門總計:
                    </td>

                    @{ string dep ="Month_Salary";
                        string travel = "Travel";
                        string late = "Tabsense";
                        string leave ="LLeave";
                        string toltal = "toltal";

                            }

                    <td id="@dep"></td>
                    <td id="@travel"></td>
                    <td id="@late" class="subCate"></td>
                    <td id="@leave" class="subCate"></td>

                    <td id="toltal">000000</td>

                </tr>


            </tbody>
        </table>
    </div>
</div>

<script>



    $(function () {


        var DEPTID = $("#Salary_DEPT").val();


        let Dept_total = 0;
        var DEPT = $("." + DEPTID + "Month_Salary");
        for (let i = 0; i < DEPT.length; i++) {
            Dept_total += parseInt(DEPT[i].innerText);
        }
        $("#Month_Salary").html(Dept_total);


        let Travel_total = 0;
        var DEPT = $("." + DEPTID + "Travel");
        for (let i = 0; i < DEPT.length; i++) {
            Travel_total += parseInt(DEPT[i].innerText);
        }
        $("#Travel").html(Travel_total);



        let Tabsense_total = 0;
        var DEPT = $("." + DEPTID + "Tabsense");
        for (let i = 0; i < DEPT.length; i++) {
            Tabsense_total += parseInt(DEPT[i].innerText);
        }
        $("#Tabsense").html(Tabsense_total);



        let LLeave_total = 0;
        var DEPT = $("." + DEPTID + "LLeave");
        for (let i = 0; i < DEPT.length; i++) {
            LLeave_total += parseInt(DEPT[i].innerText);
        }
        $("#LLeave").html(LLeave_total);



        var a = parseInt($("#Month_Salary").html().trim());
        var b = parseInt($("#Travel").html().trim());
        var c = parseInt($("#Tabsense").html().trim());
        var d = parseInt($("#LLeave").html().trim());

        var e = a + b - c - d;


        $("#toltal").html(e);




    })



    $(function () {

        //var JOBID = $("#Salary_JOBTITLE").val();
        //console.log()


        let JOBTitle_total = 0;
        var JOBTITLE = $(".JobTitle_Salary");
        for (let i = 0; i < JOBTITLE.length; i++) {
            JOBTitle_total += parseInt(JOBTITLE[i].innerText);
        }
        $("#Month_Salary").html(JOBTitle_total);



        let JOBTitle_Traveltotal = 0;
        var JOBTITLE = $(".JobTitle_Travel");
        for (let i = 0; i < JOBTITLE.length; i++) {
            JOBTitle_Traveltotal += parseInt(JOBTITLE[i].innerText);
        }
        $("#Travel").html(JOBTitle_Traveltotal);


        let JOBTitle_Tabsensetotal = 0;
        var JOBTITLE = $(".JobTitle_TAbsense");
        for (let i = 0; i < JOBTITLE.length; i++) {
            JOBTitle_Tabsensetotal += parseInt(JOBTITLE[i].innerText);
        }
        $("#Tabsense").html(JOBTitle_Tabsensetotal);



        let JOBTitle_LLeavetotal = 0;
        var JOBTITLE = $(".JobTitle_Leave");
        for (let i = 0; i < JOBTITLE.length; i++) {
            JOBTitle_LLeavetotal += parseInt(JOBTITLE[i].innerText);
        }
        $("#LLeave").html(JOBTitle_LLeavetotal);



        var a = parseInt($("#Month_Salary").html().trim());
        var b = parseInt($("#Travel").html().trim());
        var c = parseInt($("#Tabsense").html().trim());
        var d = parseInt($("#LLeave").html().trim());

        var e = a + b - c - d;


        $("#toltal").html(e);


    })

    

    $(function () {

        //Enable check and uncheck all functionality
        $('.1checkbox-toggle').click(function () {
            var clicks = $(this).data('clicks')
            if (clicks) {
                //Uncheck all checkboxes
                $('.1CHECKBOX input[type=\'checkbox\']').prop('checked', false)
                $('.1checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
            } else {
                //Check all checkboxes
                $('.1CHECKBOX input[type=\'checkbox\']').prop('checked', true)
                $('.1checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
            }
            $(this).data('clicks', !clicks)


        })
    })




    
</script>