@model IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>
@{
    ViewData["Title"] = "SalaryList_supervisor";

    var Late = ViewBag.Late;
    var Leave = ViewBag.Leave;
    var DEPT = ViewBag.DEPT;
    var JOBTITLE = ViewBag.JOBTITLE;
}


<div class="card">
    <div class="card-header">
        <table table class="table table-bordered table-hover">
            <thead>
                <tr style="text-align:center">


                    <th>
                        @Html.DisplayNameFor(model => model.CDepartment)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CEmployeeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CJobTitle)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Month_Salary)
                    </th>
                    <th>
                        差旅費
                    </th>
                    <th>
                        遲到扣款
                    </th>
                    <th>
                        請假扣款
                    </th>
                    <th>
                        修改/刪除
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
            
                        <tr style="text-align:center">

                            <td>
                                @Html.DisplayFor(modelItem => item.CDepartment)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CEmployeeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CJobTitle)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Month_Salary)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CAmont_Travel)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CAmont_TAbsense)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.CAmont_Leave)
                               
                            </td>
                            <td>
                                @Html.ActionLink("詳細資料", "Detail", new { id = item.CEmployeeId }, new { @class = "btn btn-success" })

                            </td>
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>