@model IEnumerable<IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>>

@{ ViewData["Title"] = "Salary_Search";
    var c = Model.Count();
    int count = c;
    
    foreach (var model2 in Model.Reverse())
    {

        //foreach(var model3 in model2)
        //        {



    <div class="card">
        <div class="card-header">
            <table table class="table table-bordered table-hover table_fontSize">
                <thead>

                    <tr style="text-align:center; background-color:tan; font-weight:bold">

                        <th colspan="9">
                            @ViewBag.Year 年 @count 月薪資
                        </th>
                        @{count = count - 1; }
                    </tr>

                    <tr style="text-align:center">

                        <th>
                           部門名稱
                        </th>
                        <th>
                           員工姓名
                        </th>
                        <th>
                           職稱
                        </th>
                        <th>
                           底薪
                        </th>
                        <th>
                            差旅費
                        </th>
                        <th>
                            遲到扣款
                        </th>
                        <th>
                            請假扣款
                        </th>
                        <th>
                            薪資
                        </th>
                    </tr>
                </thead>
                <tbody>


                    @foreach (var item in model2)
                    {

                        <tr style="text-align:center">
                            <td>
                                <div class="icheck-primary">

                                    @item.CDepartment
                                </div>

                            </td>
                            <td class="NAME">
                                @item.CEmployeeName
                            </td>
                            @*@{
                                string Month_Salary = item.CDepartmentId.ToString() + "Month_Salary";    //動態給予Class
                                string Travel = item.CDepartmentId.ToString() + "Travel";
                                string Tabsense = item.CDepartmentId.ToString() + "Tabsense";
                                string LLeave = item.CDepartmentId.ToString() + "LLeave";
                                //string Jobtitle = item.CJobTitle.ToString() + "Jobtitle";
                            }*@

                        <td>
                            @item.CJobTitle
                        </td>
                        <td>
                            @item.Month_Salary
                        </td>

                        <td>
                            @item.CAmont_Travel
                        </td>

                        <td class="subCate">
                            @item.CAmont_TAbsense
                        </td>

                        <td class="leave subCate">
                            @item.CAmont_Leave
                        </td>
                        <td class="total DETAIL">
                            @item.CSalary_Total
                        </td>

                          
                        </tr>
                    }


                    @*<tr style="text-align:center; background-color:tan; font-weight:bold">

                            <td colspan="3">
                                部門總計:
                            </td>

                            @{ string dep = "Month_Salary";
                                string travel = "Travel";
                                string late = "Tabsense";
                                string leave = "LLeave";
                                string toltal = "toltal";

                            }

                            <td id="@dep"></td>
                            <td id="@travel"></td>
                            <td id="@late" class="subCate"></td>
                            <td id="@leave" class="subCate"></td>
                            <td colspan="2" id="toltal">000000</td>

                        </tr>*@


                </tbody>
            </table>
        </div>
    </div>
                                    }
                                
}