@model IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>
@{ ViewData["Title"] = "SalaryList_supervisor";

    var Late = ViewBag.Late;
    var Leave = ViewBag.Leave;
    var DEPT = ViewBag.DEPT;
    var JOBTITLE = ViewBag.JOBTITLE; }

<div class="content-wrapper">
    <section class="content-header">


        <header>
            <style>
                .row {
                    display: flex;
                    flex-wrap: wrap;
                }

                .col {
                    flex-grow: 1;
                    margin: 10px;
                    text-align: center;
                    font-size: 20px;
                    font-family: 微軟正黑體;
                    font-weight: normal;
                }

                h2 {
                    background-color: #cbb2ae;
                    border-left: 5px solid #808080;
                    font-family: "微软雅黑", "宋体", "黑体", Arial;
                    font-size: 25px;
                    height: 80px;
                    line-height: 80px;
                    font-weight: bold;
                    text-shadow: 2px 2px 3px #222222;
                    color: #FFFFFF;
                    padding-left: 10px;
                }


                .mask_page {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: white;
                    z-index: 100;
                    opacity: 0.8;
                    display: none;
                    filter: alpha(opacity=80)
                }


                .loading_image {
                    width: 200px;
                    height: 200px;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%)
                }

                .subCate {
                    color: red;
                }
            </style>
        </header>


        <h2>人資管理系統</h2>
        <h3 style="background-color:sandybrown">@DateTime.Now.Date.Month 月薪資計算</h3>

        <div style="background-color:white ;padding:20px; border-radius:10px">
            <h3>查詢條件</h3>


            @*//------------------------------------*@

            <form method="post">

                <div class="row">

                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">部門 :</label>

                        <select class="Salary_Distinguish" id="Salary_DEPT">
                            <option value="" disabled selected>請選擇</option>

                            @for (int i = 0; i < DEPT.Count; i++)
                            {
                                <option value="@DEPT[i].CDepartmentId">@DEPT[i].CDepartment</option>
                            }
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label"> 職位 :</label>
                        <select class="Salary_Distinguish" id="Salary_JOBTITLE">
                            <option value="" disabled selected>請選擇</option>

                            @for (int i = 0; i < JOBTITLE.Count; i++)
                            {
                                <option value="@JOBTITLE[i].CJobTitleId">@JOBTITLE[i].CJobTitle</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-6 form-group">
                        <input type="submit" value="查詢" class="btn btn-success" style="filter: grayscale(50%)" />
                    </div>

                </div>
                @if (ViewBag.Session_USERID_USERDEPARTMENTID == 4 || ViewBag.Session_USERID_USERDEPARTMENTID == 5)
                {
                    <div class="row">
                        <div class="col-md-offset-5">
                            <input type="button" id="AllPass" value="勾選通過" onclick="send()" class="btn btn-success" style="filter: grayscale(50%)" />
                        </div>
                    </div>}
            </form>


        </div>

        <br />
        <br />


        <div id="cover_page" class="mask_page">
            <img id="loading_gif" class="loading_image" src="/theme/imgs/Loading.gif" />
        </div>

        <div id="Salary_table">

            @{ var Dept = Model.Select(c => c.CDepartmentId).Distinct().ToList();
                for (int i = 1; i < Dept.Count + 1; i++)
                {
                    <div class="card">
                        <div class="card-header">
                            <table table class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">
                                        @{ string checkbox = "checkbox-toggle" + i; }
                                        <th>
                                            <button type="button" class="btn btn-default btn-sm @checkbox">
                                                <i class="far fa-square"></i>
                                            </button>
                                            @Html.DisplayNameFor(model => model.CDepartment)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CEmployeeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CJobTitle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Month_Salary)
                                        </th>
                                        <th>
                                            差旅費
                                        </th>
                                        <th>
                                            遲到扣款
                                        </th>
                                        <th>
                                            請假扣款
                                        </th>
                                        <th>
                                            修改/刪除
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        if (item.CDepartmentId == i)
                                        {
                                            string CHECKBOX = "CHECKBOX"+item.CDepartmentId.ToString();

                                            <tr style="text-align:center">



                                                <td>
                                                    <div class="@CHECKBOX icheck-primary">
                                                        <input type="checkbox" value="" id="check1">
                                                        <label for="check1"></label>
                                                        @Html.DisplayFor(modelItem => item.CDepartment)
                                                    </div>


                                                </td>

                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CEmployeeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.CJobTitle)
                                                </td>

                                                @{ string Month_Salary = item.CDepartmentId.ToString() + "Month_Salary";    //動態給予Class
                                                    string Travel = item.CDepartmentId.ToString() + "Travel";
                                                    string Tabsense = item.CDepartmentId.ToString() + "Tabsense";
                                                    string LLeave = item.CDepartmentId.ToString() + "LLeave"; }


                                                <td class="@Month_Salary">
                                                    @Html.DisplayFor(modelItem => item.Month_Salary)
                                                </td>

                                                <td class="@Travel">
                                                    @Html.DisplayFor(modelItem => item.CAmont_Travel)
                                                </td>

                                                <td class="@Tabsense subCate">
                                                    @Html.DisplayFor(modelItem => item.CAmont_TAbsense)
                                                </td>

                                                <td class="@LLeave subCate">
                                                    @Html.DisplayFor(modelItem => item.CAmont_Leave)

                                                </td>
                                                <td>
                                                    @Html.ActionLink("詳細資料", "Detail", new { id = item.CEmployeeId }, new { @class = "btn btn-success" })

                                                    @Html.ActionLink("E-mail", "Mail_Click"@*new { id = item.CEmployeeId }*@, new { @class = "btn btn-danger" })

                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr style="text-align:center; background-color:tan; font-weight:bold">

                                        <td colspan="3">
                                            部門總計:
                                        </td>

                                        @{ string dep = i + "Month_Salary";
                                            string travel = i + "Travel";
                                            string late = i + "Tabsense";
                                            string leave = i + "LLeave"; }

                                        <td id="@dep"></td>
                                        <td id="@travel"></td>
                                        <td id="@late" class="subCate"></td>
                                        <td id="@leave" class="subCate"></td>

                                        <td>000000</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div> } }





        </div>
    </section>
</div>

<script>
    var x = "";
    $(".Salary_Distinguish").change(function () {

        $("#cover_page").css({    //加入遮罩
            "height": $(document).height(),
            "width": $(document).width(),
            "display": "initial"

        });

        x = $("#Salary_DEPT").val()//★透過Name屬性取得輸入值
        y = $("#Salary_JOBTITLE").val()

        console.log(x); //傳入型態:stirng
        console.log(y);

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Salary/Mutiple_search",
            data: { DEPT: x, TITLE: y },
            success: function (data) {
                console.log("有進去");
                $("#Salary_table").html(data);

                $("#cover_page").css({ "display": "none" });  //遮罩取消


            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
    });





    $(function () {

        // 薪水加總
        for (let i = 1; i < 7; i++) {
            let Dept_total = 0;
            var DEPT = $("." + [i] + "Month_Salary");
            for (let i = 0; i < DEPT.length; i++) {
                Dept_total += parseInt(DEPT[i].innerText);
            }
            $("#" + [i] + "Month_Salary").html(Dept_total);
        }

        //出差加總

        for (let i = 1; i < 7; i++) {
            let Travel_total = 0;
            var DEPT = $("." + [i] + "Travel");
            for (let i = 0; i < DEPT.length; i++) {
                Travel_total += parseInt(DEPT[i].innerText);
            }
            $("#" + [i] + "Travel").html(Travel_total);
        }


        //遲到扣款加總

        for (let i = 1; i < 7; i++) {
            let Tabsense_total = 0;
            var DEPT = $("." + [i] + "Tabsense");
            for (let i = 0; i < DEPT.length; i++) {
                Tabsense_total += parseInt(DEPT[i].innerText);
            }
            $("#" + [i] + "Tabsense").html(Tabsense_total);
        }


        //請假扣款加總

        for (let i = 1; i < 7; i++) {
            let LLeave_total = 0;
            var DEPT = $("." + [i] + "LLeave");
            for (let i = 0; i < DEPT.length; i++) {
                LLeave_total += parseInt(DEPT[i].innerText);
            }
            $("#" + [i] + "LLeave").html(LLeave_total);
        }


    });





    $(function () {


        for (let i = 1; i < 7;i++) {

            //Enable check and uncheck all functionality
            $('.checkbox-toggle'+i).click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    //Uncheck all checkboxes
                    $('input[type=\'checkbox\'] CHECK'+i).prop('checked', false)
                    $('.far.fa-square .checkbox-toggle'+i).removeClass('fa-check-square').addClass('fa-square')
                } else {
                    //Check all checkboxes
                    $('input[type=\'checkbox\'] CHECK' + i).prop('checked', true)
                    $(' .far.fa-square .checkbox-toggle'+i).removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })

        }
    })

</script>









