@model IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>
@{ ViewData["Title"] = "Salary_Search";

 

}

<div class="content-wrapper">
    <section class="content-header">


        <header>
            <style>
                .row {
                    display: flex;
                    flex-wrap: wrap;
                }

                .col {
                    flex-grow: 1;
                    margin: 10px;
                    text-align: center;
                    font-size: 20px;
                    font-family: 微軟正黑體;
                    font-weight: normal;
                }

                h2 {
                    background-color: #cbb2ae;
                    border-left: 5px solid #808080;
                    font-family: "微软雅黑", "宋体", "黑体", Arial;
                    font-size: 25px;
                    height: 80px;
                    line-height: 80px;
                    font-weight: bold;
                    text-shadow: 2px 2px 3px #222222;
                    color: #FFFFFF;
                    padding-left: 10px;
                }


                .mask_page {
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: white;
                    z-index: 100;
                    opacity: 0.8;
                    display: none;
                    /*filter: alpha(opacity=80)*/
                }


                .loading_image {
                    width: 200px;
                    height: 200px;
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%)
                }

                .subCate {
                    color: red;
                }
                .total{
                    font-weight:bold
                }
                .table_fontSize{
                    font-size:21px;

                }

                .form_fontSize {
                    font-size: 21px;
                }
            </style>
        </header>

        <h2>薪資查詢系統</h2>
      
        <div class="row">

            <div style="background-color:white; justify-items:center ;padding:20px; margin-left:20px;border-radius:10px;width:48%; display:inline-block">
                <h3>查詢條件</h3>


                @*//------------------------------------*@

                <form method="post">


                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class=" form_fontSize col-md-6 col-md-offset-3 control-label" style="text-align:center">年分 :</label>

                            <select class="form_fontSize Salary_Distinguish col-md-2 col-md-offset-6" id="Salary_Year">
                                <option name="this_year" value="2021">2021</option>
                                <option name="this_year" value="2020">2020</option>
                                <option name="this_year" value="2019">2019</option>
                                <option name="this_year" value="2018">2018</option>
                            </select>
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class=" form_fontSize col-md-6 col-md-offset-3 control-label" style="text-align:center"> 月份 :</label>
                            <select class=" form_fontSize Salary_Distinguish col-md-2 col-md-offset-6" id="Salary_Month">

                                <option id="replace_option" value="" disabled selected>請選擇</option>
                                <option>1</option>
                                <option>2</option>
                                <option selected>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>

                            </select>
                        </div>


                        <div class="col-md-12 form-group" style="text-align:right;margin:0px; ">

                            <input type="submit" value="重新查詢" class="btn btn-success" style="filter: grayscale(50%);">
                        </div>

                    </div>
                    <hr />

                    <button type="button" class="btn btn-block btn-info btn-lg" id="Analyze_Leave" @*onclick="Chart_Leave"*@ >請假統計</button>

                </form>

            </div>


            <div id="CHART" style="background-color:white; justify-items:center ;padding:20px; border-radius:10px;width:48%;  margin-left:20px; display:inline-block">
                <form>

                    <div class="card card-info">
                        <div class="card-header" style="background-color:#397984">
                            <h3 class="card-title">年度薪水分析</h3>


                            @*<div class="card-tools" style="font-size:15px;">
            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>*@

                        </div>

                            <div class="card-body" style="display: block;">
                                <div class="chart">
                                    <div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                                    <canvas id="areaChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 764px;" width="764" height="250" class="chartjs-render-monitor"></canvas>
                                </div>
                            </div>

                        <!-- /.card-body -->
                    </div>
                </form>

            </div>
        </div>

        <br />
        <br />

        <div id="cover_page" class="mask_page">
            <img id="loading_gif" class="loading_image" src="/theme/imgs/Loading.gif" />
        </div>
        <div id="Salary_table">

            @{ var Dept = Model.Select(c => c.CDepartmentId).Distinct().ToList();
                for (int i = 1; i < Dept.Count + 1; i++)
                {
                    <div class="card">
                        <div class="card-header">
                            <table table class="table table-bordered table-hover table_fontSize">
                                <thead>

                                    <tr style="text-align:center; background-color:tan; font-weight:bold">

                                        <th colspan="9">
                                            2021年3月薪資
                                        </th>

                                    </tr>

                                    <tr style="text-align:center">

                                        <th>
                                            @Html.DisplayNameFor(model => model.CDepartment)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CEmployeeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CJobTitle)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Month_Salary)
                                        </th>
                                        <th>
                                            差旅費
                                        </th>
                                        <th>
                                            遲到扣款
                                        </th>
                                        <th>
                                            請假扣款
                                        </th>
                                        <th>
                                            薪資
                                        </th>
                                        <th>
                                            詳細資料
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model)
                                    {

                                        <tr style="text-align:center">
                                            <td>
                                                <div class="icheck-primary">

                                                    @Html.DisplayFor(modelItem => item.CDepartment)
                                                </div>

                                            </td>
                                            <td class="NAME">
                                                @Html.DisplayFor(modelItem => item.CEmployeeName)
                                            </td>
                                            @{
                                                string Month_Salary = item.CDepartmentId.ToString() + "Month_Salary";    //動態給予Class
                                                string Travel = item.CDepartmentId.ToString() + "Travel";
                                                string Tabsense = item.CDepartmentId.ToString() + "Tabsense";
                                                string LLeave = item.CDepartmentId.ToString() + "LLeave";
                                                //string Jobtitle = item.CJobTitle.ToString() + "Jobtitle";
                                            }

                                            <td>
                                                @Html.DisplayFor(modelItem => item.CJobTitle)
                                            </td>



                                            <td class="@Month_Salary JobTitle_Salary">
                                                @Html.DisplayFor(modelItem => item.Month_Salary)
                                            </td>

                                            <td class="@Travel JobTitle_Travel">
                                                @Html.DisplayFor(modelItem => item.CAmont_Travel)
                                            </td>

                                            <td class="absense JobTitle_TAbsense subCate">
                                                @Html.DisplayFor(modelItem => item.CAmont_TAbsense)
                                            </td>

                                            <td class="leave JobTitle_Leave subCate">
                                                @Html.DisplayFor(modelItem => item.CAmont_Leave)
                                            </td>
                                          
                                            <td style="display:none" class="leave">
                                                @Html.DisplayFor(modelItem => item.CSub_Total)
                                               
                                            </td>

                                            <td class="DETAIL total">
                                                @Html.DisplayFor(modelItem => item.CSalary_Total)
                                            </td>

                                            <td>
                                                @Html.ActionLink("詳細資料", "SalaryList", new { id = item.CEmployeeId }, new { @class = "btn btn-success" })

                                            </td>
                                        </tr>
                                    }


                                    @*<tr style="text-align:center; background-color:tan; font-weight:bold">

                                            <td colspan="3">
                                                部門總計:
                                            </td>

                                            @{ string dep = "Month_Salary";
                                                string travel = "Travel";
                                                string late = "Tabsense";
                                                string leave = "LLeave";
                                                string toltal = "toltal";

                                            }

                                            <td id="@dep"></td>
                                            <td id="@travel"></td>
                                            <td id="@late" class="subCate"></td>
                                            <td id="@leave" class="subCate"></td>
                                            <td colspan="2" id="toltal">000000</td>

                                        </tr>*@


                                </tbody>
                            </table>
                        </div>
                    </div> } }





        </div>

    </section>
</div>


<script src="~/theme/plugins/chart.js/Chart.min.js"></script>
@*<script>
    $("#Salary_Year").on('change', function () {
        let thisyear = $('option[name="this_year"]:selected').val();
        let datenow = new Date();
        let showoption = "";
        //console.log($('option[name="this_year"]:selected').val() + "FDSFSDF");
        if (thisyear == 2021) {
            for (let i = 1; i <= datenow.getMonth(); i++) {
                showoption += `<option>${i}</option>`;
            }
        } else {
            for (let i = 1; i <= 12; i++) {
                showoption += `<option>${i}</option>`;
            }
        }
        $("#Salary_Month").html(showoption);
    })

    $(function () {
        $("#Salary_Year").change();
    })
</script>*@
<script>


    $("#Analyze_Leave").click(function () {


        x = parseInt($("#Salary_Year").val());
        y = parseInt($("#Salary_Month").val());


        console.log(typeof(x));
        console.log(y);



        $.ajax({
            type: "get",
            
            url: "/Salary/PreviousSalary_CHARTforLeave",
            data: { YEAR: x, Month: y },
            success: function (data) {
                $("#CHART").html(data);
            },
            error: function (msg) {
                alert("還沒完成");
            }
        });



        //$.ajax({
        //    type: "Post",
        //    contentType: "application/json; charset=utf-8",
        //    url: "/Salary/PreviousSalary_CHARTforLeave",
        //    data: { Year: x, Month: y },
        //    //data: JSON.stringify(combine_obj),
        //    success: function (data) {

        //        $("#CHART").html(data);


        //    },
        //    error: function (msg) {
        //        alert("還沒完成");
        //    }
        //})
    })









    var x = "";
    $(".Salary_Distinguish").change(function () {

        //$("#cover_page").css({    //加入遮罩
        //    "height": $(document).height(),
        //    "width": $(document).width(),
        //    "display": "initial"

        //});

        //★透過Name屬性取得輸入值
        x = $("#Salary_Year").val()
        y = $("#Salary_Month").val()

        //console.log(x); //傳入型態:stirng
        console.log(y);

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Salary/PreviousSalary",
            data: { YEAR: x, MONTH: y },
            success: function (data) {

                $("#Salary_table").html(data);

                $("#cover_page").css({ "display": "none" });  //遮罩取消

                var Leave = [];
                var Namea = $(".NAME").length;

                //---------------------------------------------------------------------//非同步顯示圖表資料 -- 名子
                        $('.leave').each(function () {
                           /* console.log($(this).html().trim());*/
                            Leave.push($(this).html().trim());
                        });
                console.log("aaaaaa"+Leave);



                var Monthh = $("#Salary_Month").val();
                console.log(Monthh);

                        var DETAIL_ARR = [];
                        var Detail = $(".DETAIL").length;
                        console.log(Detail);
                        //---------------------------------------------------------------------//非同步顯示圖表資料  -- 數值
                        $('.DETAIL').each(function () {
                            /* console.log($(this).html().trim());*/
                            DETAIL_ARR.push(parseInt($(this).html().trim()));
                        });

                        let combine_obj = {
                            Month: Monthh,
                            money: DETAIL_ARR.reverse(),
                            leave: Leave.reverse(),

                            //反轉陣列
                }

                console.log("AAAAA"+JSON.stringify(combine_obj));

                        $.ajax({
                            type: "POST",
                            contentType: "application/json; charset=utf-8",

                            url: "/Salary/PreviousSalary_CHARTAnalysis",
                            data: JSON.stringify(combine_obj),
                            success: function (data) {

                                $("#CHART").html(data);


                            },
                            error: function (msg) {
                                alert("還沒完成");
                            }
                        })

            },
            error: function (msg) {
                alert("error:" + msg);
            }
            })
        });


 

       


    



</script>


<script>

    // Get context with jQuery - using jQuery's .get() method.
    var areaChartCanvas = $('#areaChart').get(0).getContext('2d')

    var areaChartData = {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [
            {
                label: 'Digital Goods',
                backgroundColor: 'rgba(60,141,188,0.9)',
                borderColor: 'rgba(60,141,188,0.8)',
                pointRadius: false,
                pointColor: '#3b8bba',
                pointStrokeColor: 'rgba(60,141,188,1)',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(60,141,188,1)',
                data: [28, 48, 40, 19, 86, 27, 90]
            },
            {
                label: 'Electronics',
                backgroundColor: 'rgba(210, 214, 222, 1)',
                borderColor: 'rgba(210, 214, 222, 1)',
                pointRadius: false,
                pointColor: 'rgba(210, 214, 222, 1)',
                pointStrokeColor: '#c1c7d1',
                pointHighlightFill: '#fff',
                pointHighlightStroke: 'rgba(220,220,220,1)',
                data: [65, 59, 80, 81, 56, 55, 40]
            },
        ]
    }

    var areaChartOptions = {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
            display: false
        },
        scales: {
            xAxes: [{
                gridLines: {
                    display: false,
                }
            }],
            yAxes: [{
                gridLines: {
                    display: false,
                }
            }]
        }
    }

    // This will get the first returned node in the jQuery collection.
    new Chart(areaChartCanvas, {
        type: 'line',
        data: areaChartData,
        options: areaChartOptions
    })

</script>


    @*//部門總計加總



        $(function () {   //圖表


            var a = $("#1toltal").html();
            var b = $("#2toltal").html();
            var c = $("#3toltal").html();
            var d = $("#4toltal").html();
            var e = $("#5toltal").html();
            var f = $("#6toltal").html();


            // Get context with jQuery - using jQuery's .get() method.
            var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
            var donutData = {
                labels: [
                    '管理部',
                    '企劃部',
                    '研發部',
                    '資訊部',
                    '總務部',
                    '財會部',
                ],
                datasets: [
                    {
                        data: [a, b, c, d, e, f],
                        backgroundColor: ['#f56954', '#00a65a', '#f39c12', '#00c0ef', '#3c8dbc', '#ab9828'],
                    }
                ]
            }
            var donutOptions = {
                maintainAspectRatio: false,
                responsive: true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            new Chart(donutChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            })




        });*@



