
@model IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>
    }

<div class="content-wrapper">
    <section class="content-header">

        <header>
            <style>
                h2 {
                    background-color: #cbb2ae;
                    border-left: 5px solid #808080;
                    font-family: "微软雅黑", "宋体", "黑体", Arial;
                    font-size: 25px;
                    height: 80px;
                    line-height: 80px;
                    font-weight: bold;
                    text-shadow: 2px 2px 3px #222222;
                    color: #FFFFFF;
                    padding-left: 10px;
                }

                .Salary-box {
                    border: 2px groove black;
                    text-align: center;
                    font-size: 20px;
                    width: 60%;
                    margin: 0px auto;
                    padding: 0px;
                    /*  font-family:新細明體;
                    text-decoration:none*/
                }

                section {
                    display: block;
                }

                body {
                    line-height: 1;
                }

                ol, ul {
                    list-style: none;
                }

                blockquote, q {
                    quotes: none;
                }

                    blockquote: before, blockquote : after,
                    q: before, q: after {
                        content: '';
                        content: none;
                    }

                table {
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                #block_top {
                    position: sticky;
                    top: 0px;
                    height: 60px;
                    background-color: #24282D;
                }

                #float_block {
                    position: absolute;
                    top: 20px;
                    left: 0px;
                    width: 400px;
                    height: 300px;
                    color: #0366D6;
                    background: #FFFFFF;
                    border: #696969 1px solid;
                    display: none;
                }

                #icon {
                    position: relative;
                }

                    #icon:hover #float_block {
                        display: block;
                    }
            </style>


        </header>


        @foreach (var item in Model)
        {

            <h2>薪資系統</h2>

            @*<button  class="btn btn-danger" onclick="screenshot()">Download screenshot</button>*@


            <a id="btnSave" onclick="screenshot()" class="btn btn-app bg-warning">
                <span class="badge bg-info">News</span>
                <i class="fas fa-envelope"></i> 下載薪資單(PDF)
            </a>

            <a id="btnSave" onclick="happy()" class="btn btn-app bg-warning">
                <span class="badge bg-info">News</span>
                <i class="fas fa-envelope"></i> sssssssss
            </a>




            <div id="chart3">
                <div id="Salary-box" class="Salary-box">
                    <br />

                    <div style="font-size:30px">Hello Work 科技股份有限公司</div>
                    <div style="font-size:30px">2021-03<i>薪資單</i></div>

                    <br />
                    <div class="container" style="width:80%">
                        <div style="background-color:papayawhip ;padding:15px; border-radius:10px">

                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">工號 :<label>@Html.DisplayFor(modelItem => item.CEmployeeId)</label></label>
                                </div>

                                <div class="col">
                                    <label class=" col-lg-12 control-label">部門 :<label>@Html.DisplayFor(modelItem => item.CDepartment)</label></label>
                                </div>

                                <div class="col">
                                    <label class=" col-lg-12 control-label">銀行 :  <label>004 台灣銀行</label></label>
                                </div>


                            </div>
                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">姓名 :<label id="NAME">@Html.DisplayFor(modelItem => item.CEmployeeName)</label></label>
                                </div>

                                <div class="col">
                                    <label class=" col-lg-12 control-label">職稱 :<label>@Html.DisplayFor(modelItem => item.CJobTitle)</label></label>
                                </div>

                                <div class="col">
                                    <label class=" col-lg-12 control-label">發放日期 :  <label> xxxx/04/06 Fake</label></label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container" style="width:80%">
                        <div style="padding:15px; text-align:left">


                            <label class=" col-lg-12 control-label" style="text-align:left; font-size:25px; background-color:lightsalmon; display:inline">薪資結構</label>


                            @*這行存在的意義全無，只是不小心有了他排版完美*@

                            <div class="row" style=">
                                <div class="col"> </div>
                            </div>


                            <div class="row">

                                <div class="col">
                                    <label class=" col-lg-12 control-label">基本薪資 </label>
                                </div>

                                <div class="col">
                                    <label id="Month_Salary" class=" col-lg-12 control-label">@Html.DisplayFor(modelItem => item.CJobTitleSalary) </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12" style="text-align:left">加項</label>
                                </div>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">差旅費 </label>
                                </div>

                                <div class="col">
                                    <label id="Month_TravelPay" class=" col-lg-12 control-label">@Html.DisplayFor(modelItem => item.CAmont_Travel) </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label" style="text-align:left">扣項</label>
                                </div>
                            </div>
                            <hr />

                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">請假扣款 </label>
                                </div>


                                <div class="col">
                                    <label id="Month_Leave" class=" col-lg-12 control-label">
                                        @*$@Html.DisplayFor(modelItem => item.CLeaveHours)*@

                                        @{
                                            int count = 0;

                                            if (ViewBag.Leave != null)
                                            {
                                                foreach (var a in ViewBag.Leave)
                                                {
                                                    count += a.Leave_HaveToPay;
                                                }
                                            }
                                            else
                                            {
                                                count = 0;
                                            }
                                        }

                                        @count

                                        @*<div id="block_top">*@
                                        <div id="icon" style="float:right">
                                            <i id="Ajax_LeavePay" class="fas fa-clipboard-list" style="font-size:20px;"></i>
                                            <div id="float_block">
                                                <div id="ForLeave">
                                                    放置: Count_Leave.cshtml
                                                </div>
                                            </div>
                                            @*</div>*@
                                        </div>
                                    </label>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />

                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">遲到扣款 </label>
                                </div>

                                <div class="col">
                                    <label id="Month_Late" class=" col-lg-12 control-label">
                                        @{ int LateMoney = 0;

                                            if (ViewBag.Late != null)
                                            {
                                                foreach (var a in ViewBag.Late)
                                                {
                                                    LateMoney = a.CAmont_TAbsense;
                                                }
                                            }
                                            else
                                            {
                                                LateMoney = 0;
                                            }

                                        }

                                        @LateMoney

                                        <div id="icon" style="float:right">
                                            <i id="Ajax_LatePay" class="fas fa-times-circle" style="font-size:20px;"></i>
                                            <div id="float_block">
                                                <div id="ForLate">
                                                    放置: Count_Absense.cshtml
                                                </div>

                                            </div>
                                            @*</div>*@
                                        </div>
                                    </label>
                                </div>
                            </div>

                            <hr style=" height: 1px; border: none; background-color: #282828" />
                            <br />


                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">應發金額 </label>
                                </div>

                                <div class="col">
                                    <label id="Salary_payable" class=" col-lg-12 control-label" style="white-space: pre">$______ </label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">應扣金額 </label>
                                </div>
                                <div class="col">
                                    <label id="Salary_Sub" class=" col-lg-12 control-label" style="white-space: pre">$______ </label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <label class=" col-lg-12 control-label">實發金額 </label>
                                </div>
                                <div class="col">
                                    <label id="Salary_Netincome" class=" col-lg-12 control-label" style="white-space: pre">$______ </label>
                                </div>
                            </div>
                            <br />
                            <br />
                        </div>
                    </div>
                    <br />
                    <br />
                </div>
            }


    </section>
</div>


<script type="text/javascript" src="~/js/html2canvas.js"></script>
<script type="text/javascript" src="~/js/jspdf.debug.js"></script>


<script src="~/js/accounting.js"></script>
<script>
    

    


    $("#Ajax_LeavePay").hover(function () {
        console.log("123");
        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Salary/Count_Leave",
            success: function (data) {
                console.log("有進去");
                $("#ForLeave").html(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
    });



    $("#Ajax_LeavePay").hover(function () {

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Salary/Count_Absense",
            success: function (data) {
                console.log("有進去");
                $("#ForLate").html(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
    });


    //document.addEventListener("DOMContentLoaded", function () {
    //    document.getElementById("#Salary_Sum").addEventListener()

    //})

    $(function () {

        let Month_Salary = $("#Month_Salary").html().trim();
        let Month_TravelPay = $("#Month_TravelPay").html().trim();
        let Month_Leave = $("#Month_Leave").html().trim();
        let Month_Late = $("#Month_Late").html().trim();

        console.log(Month_Salary);
        console.log(Month_Leave);
        console.log(Month_Late);

        var AddSum = parseInt(Month_Salary) + parseInt(Month_TravelPay);
        var SubSum = parseInt(Month_Leave) + parseInt(Month_Late);
        var Netincome = AddSum - SubSum;

        $("#Salary_payable").html(accounting.formatMoney(AddSum));
        $("#Salary_Sub").html(accounting.formatMoney(SubSum));
        $("#Salary_Netincome").html(accounting.formatMoney(Netincome));
    })
</script>




<script type="text/javascript">

    function screenshot() {



        console.log("asdasd");
        html2canvas(document.getElementById('chart3')).then(function (canvas) {
            /*  document.body.appendChild(canvas);*/
            var a = document.createElement('a');
            a.href = canvas.toDataURL("image/jpeg").replace("image/jpeg", "application/octet-stream");

            let userName = $("#NAME").html().trim();
            a.download = userName + '03月薪資.jpg';
            a.click();
        });



        console.log("a");
    };


    //function happy() {
    //    var doc = new jsPDF();
    //    html2canvas(document.getElementById('chart3'), {
    //        onrendered: function (canvas) {
    //            var image = canvas.toDataURL("image/png");
    //            doc.addImage(image, 'JPEG', 0, 0, canvas.width, canvas.height);
    //            doc.save('test.pdf');
    //        }
    //    });

    //};

    
   
                    //function downloadPDF(){
                    //    var element = $("#chart3");    // 这个dom元素是要导出pdf的div容器
                    //    var w = element.width();    // 获得该容器的宽
                    //    var h = element.height();    // 获得该容器的高
                    //    var offsetTop = element.offset().top;    // 获得该容器到文档顶部的距离
                    //    var offsetLeft = element.offset().left;    // 获得该容器到文档最左的距离
                    //    var canvas = document.createElement("canvas");
                    //    var abs = 0;
                    //    var win_i = $(window).width();    // 获得当前可视窗口的宽度（不包含滚动条）
                    //    var win_o = window.innerWidth;    // 获得当前窗口的宽度（包含滚动条）
                    //    if (win_o > win_i) {
                    //        abs = (win_o - win_i) / 2;    // 获得滚动条长度的一半
                    //    }
                    //    canvas.width = w * 2;    // 将画布宽&&高放大两倍
                    //    canvas.height = h * 2;
                    //    var context = canvas.getContext("2d");
                    //    context.scale(2, 2);
                    //    context.translate(-offsetLeft - abs, -offsetTop);
                    //    // 这里默认横向没有滚动条的情况，因为offset.left(),有无滚动条的时候存在差值，因此
                    //    // translate的时候，要把这个差值去掉
                    //    html2canvas(element).then(function (canvas) {
                    //        var contentWidth = canvas.width;
                    //        var contentHeight = canvas.height;
                    //        //一页pdf显示html页面生成的canvas高度;
                    //        var pageHeight = contentWidth / 592.28 * 841.89;
                    //        //未生成pdf的html页面高度
                    //        var leftHeight = contentHeight;
                    //        //页面偏移
                    //        var position = 0;
                    //        //a4纸的尺寸[595.28,841.89]，html页面生成的canvas在pdf中图片的宽高
                    //        var imgWidth = 595.28;
                    //        var imgHeight = 592.28 / contentWidth * contentHeight;

                    //        var pageData = canvas.toDataURL('image/jpeg', 1.0);

                    //        var pdf = new jsPDF('', 'pt', 'a4');

                    //        //有两个高度需要区分，一个是html页面的实际高度，和生成pdf的页面高度(841.89)
                    //        //当内容未超过pdf一页显示的范围，无需分页
                    //        if (leftHeight < pageHeight) {
                    //            pdf.addImage(pageData, 'JPEG', 0, 0, imgWidth, imgHeight);
                    //        } else {    // 分页
                    //            while (leftHeight > 0) {
                    //                pdf.addImage(pageData, 'JPEG', 0, position, imgWidth, imgHeight)
                    //                leftHeight -= pageHeight;
                    //                position -= 841.89;
                    //                //避免添加空白页
                    //                if (leftHeight > 0) {
                    //                    pdf.addPage();
                    //                }
                    //            }
                    //        }
                    //        pdf.save('大神出來啦.pdf');
                    //    })
                    //}



</script>
