@model IEnumerable<MyHR_Web.ViewModel.CSalaryViewModel>
@{
    ViewData["Title"] = "SalaryList_supervisor";

    var Late = ViewBag.Late;
    var Leave = ViewBag.Leave;

}

<div class="content-wrapper">
    <section class="content-header">


        <header>
            <style>
                .row {
                    display: flex;
                    flex-wrap: wrap;
                }

                .col {
                    flex-grow: 1;
                    margin: 10px;
                    text-align: center;
                    font-size: 20px;
                    font-family: 微軟正黑體;
                    font-weight: normal;
                }

                h2 {
                    background-color: #cbb2ae;
                    border-left: 5px solid #808080;
                    font-family: "微软雅黑", "宋体", "黑体", Arial;
                    font-size: 25px;
                    height: 80px;
                    line-height: 80px;
                    font-weight: bold;
                    text-shadow: 2px 2px 3px #222222;
                    color: #FFFFFF;
                    padding-left: 10px;
                }
            </style>
        </header>


        <h2>人資管理系統</h2>
        <h3 style="background-color:sandybrown">@DateTime.Now.Date.Month 月薪資計算</h3>

        @{
            var Dept = Model.Select(c =>c.CDepartmentId).Distinct().ToList();  //因為現在管理部沒人 所以...只有5個
            for (int i = 1; i < Dept.Count+1; i++)
            {

                <div id="Leave_table">
                    <div class="card">
                        <div class="card-header">
                            <table table class="table table-bordered table-hover">
                                <thead>
                                            <tr style="text-align:center">


                                                <th>
                                                    @Html.DisplayNameFor(model => model.CDepartment)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CEmployeeName)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.CJobTitle)
                                                </th>
                                                <th>
                                                    @Html.DisplayNameFor(model => model.Month_Salary)
                                                </th>
                                                <th>
                                                    差旅費
                                                </th>
                                                <th>
                                                    遲到扣款
                                                </th>
                                                <th>
                                                   請假扣款
                                                </th>
                                                <th>
                                                    修改/刪除
                                                </th>
                                            </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        if (item.CDepartmentId == i)
                                        {

                                    <tr style="text-align:center">

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CDepartment)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CEmployeeName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CJobTitle)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Month_Salary)
                                        </td>

                                        <td >
                                            @Html.DisplayFor(modelItem => item.CAmont_Travel)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CAmont_TAbsense)
                                        </td>

                                        <td>
                                            @Html.DisplayFor(modelItem => item.CAmont_Leave)
                                            @*@{ int LeaveMoney = 0;

            if(ViewBag.Leave == null)
            {
                LateMoney = 0;
            }
            else
            {
                foreach (var a in ViewBag.Leave)
                {
                    LeaveMoney += a.Leave_HaveToPay;
                }
            }
             }
        @LeaveMoney*@
                                        </td>
                                        <td>
                                            @Html.ActionLink("詳細資料", "Detail", new { id = item.CEmployeeId }, new { @class = "btn btn-success" })

                                        </td>
                                    </tr>
                                            }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            }
        }











    </section>
</div>

