@model IEnumerable<MyHR_Web.ViewModel.CInterviewListViewModel>

<div class="card">
    <table class="table table-bordered table-hover">
        <thead>
            <tr style="text-align:center">
                <th>
                    @Html.DisplayNameFor(model => model.CInterVieweeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CInterVieweeGender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CInterVieweeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CEmployeeEnglishName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CEmail)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.CAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CBirthday)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CAge)
                </th>*@                
                <th>
                    @Html.DisplayNameFor(model => model.CEducation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CInterViewDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CDepartmentName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CJobTitleName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CStatus)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CInterVieweeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CInterVieweeGender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CInterVieweeName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEmployeeEnglishName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CEmail)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.CAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CBirthday)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CAge)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.CEducation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CInterViewDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CDepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CJobTitleName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CStatus)
                    </td>

                    <td>
                        @*<a class="btn btn-success" onclick="showModal(@item.CInterVieweeId)">Edit</a>*@
                        @*<a href="#edit" class="btn btn-success" data-toggle="modal" data-orderId="@item.CInterVieweeId">Edit</a>*@
                        <a class="btn btn-success" onclick="fun(@item.CInterVieweeId)">編輯/歷程</a>                        
                        <a asp-action="Delete" asp-route-id="@item.CInterVieweeId" class="btn btn-danger" onclick="return (confirm('確認刪除?'))">刪除</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>