@model IEnumerable<MyHR_Web.ViewModel.CPropertyListViewModel>

@{
    ViewData["Title"] = "List";
}

    <style>
        h2 {
            background-color: #cbb2ae;
            border-left: 5px solid #808080;
            font-family: "微软雅黑", "宋体", "黑体", Arial;
            font-size: 25px;
            height: 80px;
            line-height: 80px;
            font-weight: bold;
            text-shadow: 2px 2px 3px #222222;
            color: #FFFFFF;
            padding-left: 10px;
        }
    </style>


<div class="content-wrapper">
    <section class="content-header">
        
        <h2>失物招領系統</h2>

        @Html.ActionLink("新增失物", "Create", new { }, new { @type = "button", @class = "btn btn-info", style = "filter: grayscale(50%)" })
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                查詢條件<br />
                起 : <input type="date" />迄 : <input type="date" />     <input type="button" value="查詢" class="btn btn-outline-secondary" />

            </h3>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.CPropertyId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CEmployeeId)
                        </th>
                        <th>
                            部門@*@Html.DisplayNameFor(model => model.CDeparmentId)*@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPhone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPropertySubjectId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPropertyCategoryId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPropertyPhoto)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CProperty)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CLostAndFoundDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CLostAndFoundSpace)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CtPropertyDescription)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CPropertyCheckStatusId)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPropertyId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CEmployeeId)
                            </td>
                            <td>
                                @Enum.GetName(typeof(eDepartment),item.CDeparmentId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPhone)
                            </td>
                            <td>
                                @Enum.GetName(typeof(eLostAndFoundSubject),item.CPropertySubjectId)
                            </td>
                            <td>
                                @Enum.GetName(typeof(eLostAndFoundCategory),item.CPropertyCategoryId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CPropertyPhoto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CProperty)
                            </td>
                            <td>
                                @Convert.ToString(string.Format("{0:yyyy/MM/dd}",item.CLostAndFoundDate))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CLostAndFoundSpace)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CtPropertyDescription)
                            </td>
                            <td>
                                @Enum.GetName(typeof(eCheckStatus), item.CPropertyCheckStatusId)
                            </td>
                            <td>
                                @Html.ActionLink("修改", "Edit", "Property", new { id = item.CPropertyId }, new { @class = "btn btn-success", @style = "filter: grayscale(50%)", @type = "button" }) |
                                @Html.ActionLink("刪除", "Delete", "Property", new { id = item.CPropertyId }, new { @class = "btn btn-danger", @style = "filter: grayscale(50%)", @type = "button", onclick = "return confirm('確定要刪除嗎?')" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</section>
</div>