@model IEnumerable<MyHR_Web.ViewModel.TLeaveApplicationViewModel>

@{
    ViewData["Title"] = "List";
}
<head>
    <style>
        h2 {
            background-color: #cbb2ae;
            border-left: 5px solid #808080;
            font-family: "微软雅黑", "宋体", "黑体", Arial;
            font-size: 25px;
            height: 80px;
            line-height: 80px;
            font-weight: bold;
            text-shadow: 2px 2px 3px #222222;
            color: #FFFFFF;
            padding-left: 10px;
        }
    </style>

</head>

<div class="content-wrapper">
    <section class="content-header">
        <h2>請假申請單審核</h2>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">
                                查詢條件<br />
                                起 :&nbsp <input type="date" />&nbsp迄 : &nbsp<input type="date" />&nbsp<input type="button" value="查詢" class="btn btn-success" style="filter: grayscale(50%)" />
                                狀態 :
                                <select>
                                    <option>審核中</option>
                                    <option>通過</option>
                                    <option>退件</option>
                                </select>&nbsp&nbsp
                                關鍵字搜尋&nbsp:&nbsp<input type="text" placeholder="請輸入關鍵字 ex:事假" />&nbsp<input type="button" value="查詢" class="btn btn-success" style="filter: grayscale(50%)" /><br />
                                <input type="button" id="AllPass" value="一鍵通過" class="btn btn-success" style="filter: grayscale(50%)" />
                                <input type="button" id="AllFail" value="一鍵退件" class="btn btn-secondary" style="filter: grayscale(50%)" />
                            </h3>
                        </div>
                        <div class="card-body">
                            <table id="example2" class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th><input type="checkbox" name="checkAll" /></th>
                                        <th>@Html.DisplayNameFor(model => model.CApplyNumber)</th>
                                        <th>@Html.DisplayNameFor(model => model.CDepartmentId)</th>
                                        <th>@Html.DisplayNameFor(model => model.CEmployeeId)</th>
                                        <th>@Html.DisplayNameFor(model => model.CEmployeeId) 姓名</th>
                                        <th>@Html.DisplayNameFor(model => model.CApplyDate)</th>
                                        <th>@Html.DisplayNameFor(model => model.CLeaveStartTime)</th>
                                        <th>@Html.DisplayNameFor(model => model.CLeaveEndTime)</th>
                                        <th>@Html.DisplayNameFor(model => model.CLeaveCategory)</th>
                                        <th>@Html.DisplayNameFor(model => model.CReason)</th>
                                        <th>@Html.DisplayNameFor(model => model.CCheckStatus)</th>
                                        <th>審核</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td><input type="checkbox" name="checked" /></td>
                                        <td>@Html.ActionLink($"{item.CApplyNumber}", "Details", new { /* id=item.PrimaryKey */ })</td>
                                        <td>@Enum.GetName(typeof(eDepartment), item.CDepartmentId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CEmployeeId)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CEmployeeId) 姓名</td>
                                        <td>@Html.DisplayFor(modelItem => item.CApplyDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CLeaveStartTime)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CLeaveEndTime)</td>
                                        <td>@Enum.GetName(typeof(eLeave), item.CLeaveCategory)</td>
                                        <td>@Html.DisplayFor(modelItem => item.CReason)</td>
                                        <td>@Enum.GetName(typeof(eCheckStatus), item.CCheckStatus)</td>
                                        <td>
                                            <div class="btn-group btn-group-toggle" data-toggle="buttons" style="filter: grayscale(50%)">
                                                <label class="btn btn-outline-success"><input type="radio" name="options" id="option1" autocomplete="off">通過</label>
                                                <label class="btn btn-outline-secondary"><input type="radio" name="options" id="option2" autocomplete="off">退件</label>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>