@model IEnumerable<MyHR_Web.ViewModel.TLeaveApplicationViewModel>

@{
    ViewData["Title"] = "List";
    var Category = ViewBag.leaveCategory;
    var Status = ViewBag.leaveStatus;
}
<head>
    <link href="~/css/Absence.css" rel="stylesheet" />
</head>
<form method="post">
    <div class="content-wrapper">
        <section class="content-header">
            <h2>請假申請單審核</h2>
        </section>
        <section class="content">
            <div style="background-color:white ;padding:20px; border-radius:10px">
                <h3>查詢條件</h3>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">請假申請日期(起)&nbsp:&nbsp</label>
                        <input type="date" name="sDate" id="sDate" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">請假申請日期(迄)&nbsp:&nbsp</label>
                        <input type="date" name="eDate" id="eDate" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">請假單號&nbsp:&nbsp</label>
                        <input type="text" name="txtAppNum" placeholder="輸入單號" autocomplete="off" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">員工編號&nbsp:&nbsp</label>
                        <input type="text" name="txtId" placeholder="輸入員編" autocomplete="off" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label id="name" class="col-lg-3 control-label">員工姓名&nbsp:&nbsp</label>
                        <input type="text" id="txtName" name="txtName" placeholder="輸入姓名" autocomplete="off" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">審核狀態&nbsp:&nbsp</label>
                        <select class="leave_" id="leave_Status">
                            <option value="" disabled selected>請選擇</option>
                            @for (int i = 0; i < Status.Count; i++)
                            {
                                <option value="@Status[i].CCheckStatusId">@Status[i].CCheckStatus</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <input type="button" id="AllPass" value="勾選通過" class="btn btn-success" style="filter: grayscale(50%)" />&nbsp&nbsp&nbsp
                        <input type="button" id="AllFail" value="勾選退件" class="btn btn-secondary" style="filter: grayscale(50%)" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label class="col-lg-3 control-label">假別&nbsp:&nbsp</label>
                        <select class="leave_" id="leave_Category">
                            <option value="" disabled selected>請選擇</option>
                            @for (int i = 0; i < Category.Count; i++)
                            {
                                <option value="@Category[i].CLeaveId">@Category[i].CLeaveCategory</option>
                            }
                        </select>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <input type="submit" value="查詢" class="btn btn-success" style="filter: grayscale(50%)" /><br />
                    </div>
                </div>
            </div>
            <hr />
            <div id="Leave_table">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr style="text-align:center">
                            <th><input type="checkbox" name="CheckAll" value="核取方塊" id="CheckAll" /></th>
                            <th>@Html.DisplayNameFor(model => model.CApplyNumber)</th>
                            <th style="display:none">@Html.DisplayNameFor(model => model.CDepartmentId)</th>
                            <th>@Html.DisplayNameFor(model => model.CEmployeeId)</th>
                            <th>@Html.DisplayNameFor(model => model.employeeName)</th>
                            <th>@Html.DisplayNameFor(model => model.CApplyDate)</th>
                            <th>@Html.DisplayNameFor(model => model.CLeaveStartTime)</th>
                            <th>@Html.DisplayNameFor(model => model.CLeaveEndTime)</th>
                            <th>@Html.DisplayNameFor(model => model.CLeaveCategory)</th>
                            <th>@Html.DisplayNameFor(model => model.CReason)</th>
                            <th>@Html.DisplayNameFor(model => model.CCheckStatus)</th>
                            <th>審核</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr style="text-align:center">
                                <td><input type="checkbox" name="Checkbox[]" value="@Html.DisplayFor(modelItem => item.CApplyNumber)" id="CheckboxGroup1_0" /></td>
                                <td>@Html.DisplayFor(modelItem => item.CApplyNumber)</td>
                                <td style="display:none">@Enum.GetName(typeof(eDepartment), item.CDepartmentId)</td>
                                <td>@Html.DisplayFor(modelItem => item.CEmployeeId)</td>
                                <td>@Html.DisplayFor(modelItem => item.employeeName)</td>
                                <td>@Convert.ToString(string.Format("{0:yyyy/MM/dd}", item.CApplyDate))</td>
                                <td>@Html.DisplayFor(modelItem => item.CLeaveStartTime)</td>
                                <td>@Html.DisplayFor(modelItem => item.CLeaveEndTime)</td>
                                <td>@Enum.GetName(typeof(eLeaveCategory), item.CLeaveCategory)</td>
                                <td>@Html.DisplayFor(modelItem => item.CReason)</td>
                                <td>@Enum.GetName(typeof(eCheckStatus), item.CCheckStatus)</td>
                                @{
                                    if (item.CCheckStatus == 1)
                                    {
                                        <td>
                                            @Html.ActionLink("通過", "pass", new { id = item.CApplyNumber }, new { @class = "btn btn-success", @style = "filter: grayscale(50%)", @type = "button" })
                                            @Html.ActionLink("退件", "fail", new { id = item.CApplyNumber }, new { @class = "btn btn-secondary", @style = "filter: grayscale(50%)", @type = "button" })
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            @Html.ActionLink("通過", "pass", new { id = item.CApplyNumber }, new { @class = "btn btn-success disabled", @style = "filter: grayscale(50%)", @type = "button" })
                                            @Html.ActionLink("退件", "fail", new { id = item.CApplyNumber }, new { @class = "btn btn-secondary disabled", @style = "filter: grayscale(50%)", @type = "button" })
                                        </td>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#CheckAll").click(function () {
            if ($("#CheckAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
                $("input[name='Checkbox[]']").each(function () {
                    $(this).prop("checked", true);//把所有的核取方框的property都變成勾選
                })
            } else {
                $("input[name='Checkbox[]']").each(function () {
                    $(this).prop("checked", false);//把所有的核方框的property都取消勾選
                })
            }
        })
    })
        /*勾選通過*/
        document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("AllPass").addEventListener("click", function () {
            var result = [];
            var checks = document.getElementsByName("Checkbox[]");

            for (var i = 0; i < checks.length; i++) {
                var check = checks.item(i);

                if (check.checked) {
                    result.push(check.value);
                }
            }
            $.post(
                "@Url.Action("getPassString")",
                { "d": JSON.stringify(result) },
                function (result) {
                }, "json"
            )
            setTimeout(() => {
                window.location.assign(window.location.href)
            }, 300)
        }, false);
        }, false);


        /*勾選退件*/
        document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("AllFail").addEventListener("click", function () {
            var result = [];
            var checks = document.getElementsByName("Checkbox[]");

            for (var i = 0; i < checks.length; i++) {
                var check = checks.item(i);
                if (check.checked) {
                    result.push(check.value);
                }
            }
            $.post(
                "@Url.Action("getFailString")",
                { "d": JSON.stringify(result) },
                function (result) {
                }, "json"
            )
            setTimeout(() => {
                window.location.assign(window.location.href)
            }, 300)
        }, false);
    }, false);

    $(".leave_").change(function () {
        var Cate = $("#leave_Category").val()
        var Status = $("#leave_Status").val()
        var sDate = $("#sDate").val()
        var eDate = $("#eDate").val()

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/LeaveApplication/date_search",
            data: { cate: Cate, status: Status, start: sDate, end: eDate },
            success: function (data) {
                $("#Leave_table").html(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
    });

    $("#name").click(function () {
        $("#txtName").val("鄭麗穎");
    });

</script>
