@model IEnumerable<MyHR_Web.ViewModel.TLeaveApplicationViewModel>

@{
    ViewData["Title"] = "List";
}
<head>
    <link href="~/css/Absence.css" rel="stylesheet" />

<script>
    $(document).ready(function () {
        $("#CheckAll").click(function () {
            if ($("#CheckAll").prop("checked")) {//如果全選按鈕有被選擇的話（被選擇是true）
                $("input[name='Checkbox[]']").each(function () {
                    $(this).prop("checked", true);//把所有的核取方框的property都變成勾選
                })
            } else {
                $("input[name='Checkbox[]']").each(function () {
                    $(this).prop("checked", false);//把所有的核方框的property都取消勾選
                })
            }
        })
    })
        /*勾選通過*/
        document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("AllPass").addEventListener("click", function () {
            var result = [];
            var checks = document.getElementsByName("Checkbox[]");

            for (var i = 0; i < checks.length; i++) {
                var check = checks.item(i);

                if (check.checked) {
                    result.push(check.value);
                }
            }
            $.post(
                "@Url.Action("getPassString")",
                { "d": JSON.stringify(result) },
                function (result) {
                }, "json"
            )
            setTimeout(() => {
                window.location.assign(window.location.href)
            }, 300)
        }, false);
        }, false);

        /*勾選退件*/
        document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("AllFail").addEventListener("click", function () {
            var result = [];
            var checks = document.getElementsByName("Checkbox[]");

            for (var i = 0; i < checks.length; i++) {
                var check = checks.item(i);
                if (check.checked) {
                    result.push(check.value);
                }
            }
            $.post(
                "@Url.Action("getFailString")",
                { "d": JSON.stringify(result) },
                function (result) {
                }, "json"
            )
            setTimeout(() => {
                window.location.assign(window.location.href)
            }, 300)
        }, false);
    }, false);

</script>
</head>
<form method="post">
    <div class="content-wrapper">
        <section class="content-header">
            <h2>請假申請單審核</h2>
        </section>
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    查詢條件<br />
                                    申請日查詢&nbsp&nbsp起&nbsp:&nbsp <input type="date" />&nbsp迄&nbsp:&nbsp<input type="date" />
                                    狀態 :
                                    <select>
                                        <option>審核中</option>
                                        <option>通過</option>
                                        <option>退件</option>
                                    </select>&nbsp&nbsp<br />
                                    單號搜尋&nbsp:&nbsp<input type="text" name="txtAppNum" placeholder="輸入單號" autocomplete="off" />&nbsp&nbsp
                                    員編搜尋&nbsp:&nbsp<input type="text" name="txtId" placeholder="輸入員編" autocomplete="off" />&nbsp&nbsp
                                    姓名搜尋&nbsp:&nbsp<input type="text" name="txtName" placeholder="輸入姓名" autocomplete="off" />&nbsp&nbsp
                                    假別搜尋&nbsp:&nbsp<input type="text" name="txtCategory" placeholder="輸入假別" autocomplete="off" />&nbsp&nbsp
                                    事由搜尋&nbsp:&nbsp<input type="text" name="txtReason" placeholder="輸入事由" autocomplete="off" />&nbsp<input type="submit" value="查詢" class="btn btn-success" style="filter: grayscale(50%)" />
                                    <input type="button" id="AllPass" value="勾選通過" class="btn btn-success" style="filter: grayscale(50%)" />
                                    <input type="button" id="AllFail" value="勾選退件" class="btn btn-secondary" style="filter: grayscale(50%)" />
                                </h3>
                            </div>
                            <div class="card-body">
                                <table id="example2" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><input type="checkbox" name="CheckAll" value="核取方塊" id="CheckAll" /></th>
                                            <th>@Html.DisplayNameFor(model => model.CApplyNumber)</th>
                                            <th style="display:none">@Html.DisplayNameFor(model => model.CDepartmentId)</th>
                                            <th>@Html.DisplayNameFor(model => model.CEmployeeId)</th>
                                            <th>@Html.DisplayNameFor(model => model.employeeName)</th>
                                            <th>@Html.DisplayNameFor(model => model.CApplyDate)</th>
                                            <th>@Html.DisplayNameFor(model => model.CLeaveStartTime)</th>
                                            <th>@Html.DisplayNameFor(model => model.CLeaveEndTime)</th>
                                            <th>@Html.DisplayNameFor(model => model.CLeaveCategory)</th>
                                            <th>@Html.DisplayNameFor(model => model.CReason)</th>
                                            <th>@Html.DisplayNameFor(model => model.CCheckStatus)</th>
                                            <th>審核</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td><input type="checkbox" name="Checkbox[]" value="@Html.DisplayFor(modelItem => item.CApplyNumber)" id="CheckboxGroup1_0" /></td>
                                            <td>@Html.ActionLink($"{item.CApplyNumber}", "Details", new { id = item.CApplyNumber })</td>
                                            <td style="display:none">@Enum.GetName(typeof(eDepartment), item.CDepartmentId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CEmployeeId)</td>
                                            <td>@Html.DisplayFor(modelItem => item.employeeName)</td>
                                            <td>@Convert.ToString(string.Format("{0:yyyy/MM/dd}", item.CApplyDate))</td>
                                            <td>@Html.DisplayFor(modelItem => item.CLeaveStartTime)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CLeaveEndTime)</td>
                                            <td>@Enum.GetName(typeof(eLeave), item.CLeaveCategory)</td>
                                            <td>@Html.DisplayFor(modelItem => item.CReason)</td>
                                            <td>@Enum.GetName(typeof(eCheckStatus), item.CCheckStatus)</td>
                                            <td>
                                                <input type="button" name="options" id="option1" autocomplete="off" />@Html.ActionLink("通過", "pass", new { id = item.CApplyNumber })
                                                <input type="button" name="options" id="option2" autocomplete="off" />@Html.ActionLink("退件", "fail", new { id = item.CApplyNumber })
                                            </td>
                                        </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</form>
