@model IEnumerable<MyHR_Web.ViewModel.CPropertyViewModel>

@{
    ViewData["Title"] = "List";
    DateTime? startdate = ViewBag.startdate;
    DateTime? enddate = ViewBag.enddate;
    string username = ViewBag.username;

}

<style>
    h2 {
        background-color: #cbb2ae;
        border-left: 5px solid #808080;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #222222;
        color: #FFFFFF;
        padding-left: 10px;
    }
</style>
<div class="content-wrapper">
    <section class="content-header">
        <h2>失物招領系統</h2>
    </section>
    <section class="content">

     
        <div style="background-color:white ;padding:20px; border-radius:10px">
            <h3>查詢條件</h3>
            <form method="post">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <div class="col-md-6 form-group">
                            <label class="col-lg-3 control-label">
                            申請日期(起) : 
                            </label> <input type="date" name="startdate" value="@startdate?.ToString("yyyy-MM-dd")" />

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="col-lg-3 control-label">
                                申請日期(迄) :
                            </label><input type="date" name="enddate" value="@enddate?.ToString("yyyy-MM-dd")" />
                            <input type="submit" value="查詢" class="btn btn-success" style="filter: grayscale(50%)" />

                        </div>

                        <br />
                        <div class="row">
                            <div class="col-md-offset-5 position:absolute bottom">
                                <input type="button" id="AllPass" value="勾選通過" onclick="send()" class="btn btn-success " style="filter: grayscale(50%)" />
                                @Html.ActionLink("重新查詢", "List", new { }, new { @class = "btn btn-success ", style = "filter: grayscale(50%)" })
                            </div>
                        </div>
</form>
        </div>
        <hr /><br />

        <table table class="table table-bordered table-hover">
            <thead>
                <tr style="text-align:center">
                    <th>
                        <input type="checkbox" name="CheckAll" value="核取方塊" id="CheckAll" />
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.CPropertyId)
                        </th>*@

                    <th>
                        @Html.DisplayNameFor(model => model.CEmployeeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CEmployeeName)
                    </th>
                    <th>
                        部門@*@Html.DisplayNameFor(model => model.CDeparmentId)*@
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.CPhone)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.CPropertySubjectId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CPropertyCategoryId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CPropertyPhoto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CProperty)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CLostAndFoundDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CLostAndFoundSpace)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.CtPropertyDescription)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.CPropertyCheckStatusId)
                    </th>
                    <th style="text-align:center">
                        領取狀態
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {

                    <tr style="text-align:center">

                        <td>
                            @{ if (item.CPropertyCheckStatusId == 1)
                                {
                                    <input type="checkbox" name="Checkbox[]" value="@Html.DisplayFor(modelItem => item.CPropertyCheckStatusId)" id="CheckboxGroup" />} }
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CPropertyId)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.CEmployeeId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CEmployeeName)
                        </td>
                        <td>
                            @Enum.GetName(typeof(eDepartment), item.CDeparmentId)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.CPhone)
                            </td>*@
                        <td>
                            @Enum.GetName(typeof(eLostAndFoundSubject), item.CPropertySubjectId)
                        </td>
                        <td>
                            @Enum.GetName(typeof(eLostAndFoundCategory), item.CPropertyCategoryId)
                        </td>
                        <td>
                            <img src="@item.CPropertyPhoto" width="100" height="100" />
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CProperty)
                        </td>
                        <td>
                            @Convert.ToString(string.Format("{0:yyyy/MM/dd}", item.CLostAndFoundDate))
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CLostAndFoundSpace)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CtPropertyDescription)
                        </td>
                        <td>
                            @Enum.GetName(typeof(eLostAndFoundCheckStatus), item.CPropertyCheckStatusId)
                        </td>
                        @if (item.CPropertyCheckStatusId == 1)
                        {
                            <td>
                                @Html.ActionLink("已領取", "pUdate", "PCheckStatus", new { id = item.CPropertyId }, new { @class = "btn btn-success", @style = "filter: grayscale(50%)", @type = "button" })

                            </td>
                        }

                        else
                        {
                            <td></td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </section>
</div>

<script>
    $(document).ready(function () {
        $("#CheckAll").click(function () {
            if ($("#CheckAll").prop("checked")) {  //如果全選按鈕有被選擇的話（被選擇是true）
                $("input[name='Checkbox[]']").each(function () {
                    $(this).prop("checked", true);  //把所有的核取方框的都變成勾選
                })
            } else {
                $("input[name='Checkbox[]']").each(function () {
                    $(this).prop("checked", false);  //把所有的核方框的都取消勾選
                })
            }
        })
    })


    var result = "";
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("AllPass").addEventListener("click", function () {
             result = [];
            var checks = document.getElementsByName("Checkbox[]");

            for (var i = 0; i < checks.length; i++) {
                var check = checks.item(i);

                if (check.checked) {
                    result.push(check.value);
                }
            }

            $.post(
                    "@Url.Action("updateall")",
                    { "x": JSON.stringify(result) },
                    function (result) {
                    },"json"
            )
            setTimeout(() => {
                window.location.assign(window.location.href)
            }, 500)
        }, false);
    } , false);


    $.getJSON = function (url, data, callback) {
        $.post(url, data, callback, "json")
    }



</script>