@model IEnumerable<MyHR_Web.ViewModel.TLeaveApplicationViewModel>

@{ ViewData["Title"] = "LeaveList";
    var Leave_Cate = ViewBag.LeaveCate;
    var Leave_Status = ViewBag.LeaveStatus;}
<div class="content-wrapper">
    <section class="content-header">

        <header>
            <style>
                .row {
                    display: flex;
                    flex-wrap: wrap;
                }

                .col {
                    flex-grow: 1;
                    margin: 10px;
                    text-align: center;
                    font-size: 20px;
                    font-family: 微軟正黑體;
                    font-weight: normal;
                }

                h2 {
                    background-color: #cbb2ae;
                    border-left: 5px solid #808080;
                    font-family: "微软雅黑", "宋体", "黑体", Arial;
                    font-size: 25px;
                    height: 80px;
                    line-height: 80px;
                    font-weight: bold;
                    text-shadow: 2px 2px 3px #222222;
                    color: #FFFFFF;
                    padding-left: 10px;
                }
                .button:hover .hover {
                    display: block;
                }

            </style>
        </header>


        <h2>請假系統/查詢</h2>

        <p>
            @Html.ActionLink("請假申請", "LeaveCreate", new { }, new { @class = "btn  btn-primary btn-lg", style = "filter: grayscale(50%)" })
        </p>


        <br />
        @*//-------------------------------------------*@

        <div class="row">

            <div style="background-color:white; justify-items:center ;padding:20px; margin-left:20px;border-radius:10px;width:48%; display:inline-block">
                <h3>查詢條件</h3>


                @*//------------------------------------*@

                <form method="post">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="col-lg-5 control-label">請假日期(起) :</label>
                            <input type="date" class="Leave_Distinguish" id="Leave_Startday" />
                        </div>
                        <div class="col-md-6 form-group">
                            <label class="col-lg-5 control-label">請假日期(迄) :</label>
                            <input type="date" class="Leave_Distinguish" id="Leave_Endday" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label class="col-lg-5 control-label">請假類別:</label>
                            <select class="Leave_Distinguish" id="Leave_Cate">
                                <option value="" disabled selected>請選擇</option>
                                @for (int i = 0; i < Leave_Cate.Count; i++)
                                {
                                    <option value="@Leave_Cate[i].CLeaveId">@Leave_Cate[i].CLeaveCategory</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <label class="col-lg-5 control-label">審核狀態:</label>
                            <select class="Leave_Distinguish" id="Leave_Statues">
                                <option value="" disabled selected>請選擇</option>
                                @for (int i = 0; i < Leave_Status.Count; i++)
                                {
                                    <option value="@Leave_Status[i].CCheckStatusId">@Leave_Status[i].CCheckStatus</option>
                                }
                            </select>
                        </div>

                        <div class="col-md-6 form-group">
                            <input type="submit" name="Leave_Search" value="重新查詢" onclick="btn_LeaveSearsh" class="btn btn-success" style="filter: grayscale(50%)" />

                        </div>


                        @*<div class="col-md-6 form-group">
                            <input type="submit"  value="測試資料"  class="btn btn-success" style="filter: grayscale(50%)" />
                        </div>*@


                        <button class="col-md-6 form-group appear" id="texting">測試資料</button>

                    </div>

                </form>
            </div>


            <div id="CHART" style="background-color:white; justify-items:center ;padding:20px; border-radius:10px;width:48%;  margin-left:20px; display:inline-block">
                <form>

                    <div class="card card-info">
                        <div class="card-header" style="background-color:#397984">
                            <h3 class="card-title">假別剩餘時數</h3>

                            @*<div class="card-tools" style="font-size:15px;">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>*@
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-md-3 text-center">
                                    <div style="display:inline;width:90px;height:90px;">
                                        @*<canvas width="90" height="90"></canvas>*@
                                        <input type="text" class="knob THING" value="112" data-min="0" data-max="112" data-width="90" data-height="90" data-fgcolor="#3c8dbc" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(60, 141, 188); padding: 0px;">
                                    </div>
                                    <div class="knob-label">事假</div>
                                </div>
                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <div style="display:inline;width:90px;height:90px;">
                                        @*<canvas width="90" height="90"></canvas>*@

                                        <input type="text" class="knob SICK" value="240" data-min="0" data-max="240" data-width="90" data-height="90" data-fgcolor="#00a65a" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(0, 166, 90); padding: 0px; ">
                                    </div>

                                    <div class="knob-label">病假</div>
                                </div>

                                <!-- ./col -->
                                <div class="col-6 col-md-3 text-center">
                                    <div style="display:inline;width:90px;height:90px;">
                                        @*<canvas width="90" height="90"></canvas>*@
                                        <input type="text" class="knob SPECIAL" value="40" data-min="0" data-max="50" data-width="90" data-height="90" data-fgcolor="#00c0ef" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(0, 192, 239); padding: 0px;">
                                    </div>

                                    <div class="knob-label">特休</div>
                                </div>
                                <!-- ./col -->

                                @{

                                    if (ViewBag.Gender == "女")
                                    {
                                        <div class="col-6 col-md-3 text-center">
                                            <div style="display:inline;width:90px;height:90px;">
                                                @*<canvas width="90" height="90"></canvas>*@
                                                <input type="text" class="knob BLOOD" value="18" data-min="0" data-max="18" data-width="90" data-height="90" data-fgcolor="#f56954" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(245, 105, 84); padding: 0px; appearance: none;">
                                            </div>

                                            <div class="knob-label">生理假</div>
                                        </div>


                                    }
                                }


                                <!-- ./col -->
                                @*<div class="col-6 col-md-3 text-center">
                                    <div style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas><input type="text" class="knob" value="40" data-width="90" data-height="90" data-fgcolor="#00c0ef" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(0, 192, 239); padding: 0px; appearance: none;"></div>

                                    <div class="knob-label">Disk Space</div>
                                </div>*@
                                <!-- ./col -->
                            </div>
                            <!-- /.row -->
                            <!--<div class="row">
                        <div class="col-6 text-center">
                            <div style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas><input type="text" class="knob" value="90" data-width="90" data-height="90" data-fgcolor="#932ab6" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(147, 42, 182); padding: 0px; appearance: none;"></div>

                            <div class="knob-label">Bandwidth</div>
                        </div>-->
                            <!-- ./col -->
                            <!--<div class="col-6 text-center">
                            <div style="display:inline;width:90px;height:90px;"><canvas width="90" height="90"></canvas><input type="text" class="knob" value="50" data-width="90" data-height="90" data-fgcolor="#39CCCC" style="width: 49px; height: 30px; position: absolute; vertical-align: middle; margin-top: 30px; margin-left: -69px; border: 0px; background: none; font: bold 18px Arial; text-align: center; color: rgb(57, 204, 204); padding: 0px; appearance: none;"></div>

                            <div class="knob-label">CPU</div>
                        </div>-->
                            <!-- ./col -->
                            <!--</div>-->
                            <!-- /.row -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                </form>

            </div>

        </div>


        <br />
        @{
            if (Model.Count() != 0)  //當前台無資料顯示不同
            {
                <div id="Leave_table">
                    <div class="card">
                        <div class="card-header">
                            <table table class="table table-bordered table-hover">
                                <thead>
                                    <tr style="text-align:center">
                                        @*<th>
                                            @Html.DisplayNameFor(model => model.CApplyNumber)
                                        </th>*@
                                        <th>
                                            @Html.DisplayNameFor(model => model.CDepartmentId)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CEmployeeName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CApplyDate)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CLeaveCategory)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CLeaveStartTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CLeaveEndTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CReason)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CLeaveHours)
                                        </th>

                                        <th>
                                            @Html.DisplayNameFor(model => model.CCheckStatus)
                                        </th>
                                        <th>
                                            修改/刪除
                                        </th>

                                        @*<th>
                                            @Html.DisplayNameFor(model => model.Category)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CategoryCount)
                                        </th>*@

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        @if (item.CEmployeeId == ViewBag.Name)
                                        {
                                            if (item.CReason.Contains("測試") != true)
                                            {
                                                <tr style="text-align:center">
                                                    @*<td>
                                                        @Html.DisplayFor(modelItem => item.CApplyNumber)
                                                    </td>*@

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CDepartmentName)
                                                    </td>
                                                    <td style="display:none">
                                                        @Html.DisplayFor(modelItem => item.CDepartmentId)
                                                        @*@Enum.GetName(typeof(eDepartment), item.CDepartmentId)*@
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CEmployeeName)
                                                    </td>

                                                    <td style="display:none">
                                                        @Html.DisplayFor(modelItem => item.CEmployeeId)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CApplyDate)
                                                    </td>
                                                    <td>
                                                        @Enum.GetName(typeof(eLeaveCategory), item.CLeaveCategory)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CLeaveStartTime)
                                                        @*@Html.DisplayFor(modelItem => DateTime.Parse(item.CLeaveStartTime).ToString())*@
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CLeaveEndTime)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CReason)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.CLeaveHours)
                                                    </td>

                                                    <td>
                                                        @Enum.GetName(typeof(eCheckStatus), item.CCheckStatus)
                                                        @*@Html.DisplayFor(modelItem => item.CCheckStatus)*@
                                                    </td>
                                                    <td>
                                                        @{ if (@item.CCheckStatus == 1)
                                                            {
                                                                @Html.ActionLink("修改", "Edit", new { id = item.CApplyNumber }, new { @class = "btn btn-success" }) @:&nbsp;&nbsp;&nbsp;
                                                                @Html.ActionLink("刪除", "Delete", new { id = item.CApplyNumber }, new { @class = "btn btn-danger", onclick = "return(confirm('確定要刪除此申請單嗎'))", style = "filter: grayscale(50%)", }) } }
                                                    </td>



                                                    <td class="special" style="display:none">
                                                        @Html.DisplayFor(modelItem => item.Leave_Specil)
                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }


                                    <tr style="display:none">
                                        <th>@Html.DisplayNameFor(model => model.Category)</th>
                                        <th>@Html.DisplayNameFor(model => model.CategoryCount)</th>


                                    </tr>

                                    @{
                                        if (Model.Any())
                                        {

                                            int a = Model.Select(n => n.NONO).FirstOrDefault().Select(n => n.Category).Count();
                                            foreach (var item in Model.Select(n => n.NONO).Distinct())
                                            {
                                                for (int i = 0; i < a; i++)
                                                {

                                                    <tr style="display:none">
                                                        <td> @Html.DisplayFor(modelItem => item[i].Category)</td>
                                                        <td class="@item[i].Category"> @Html.DisplayFor(modelItem => item[i].CategoryCount)</td>

                                                    </tr>

                                                }
                                            }


                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            }
            else
            {
    <h2 style="background-color:#B8860B; text-align:center;">您尚未有任何請假紀錄，請繼續保持</h2>

            }

        }

    </section>
</div>
@*<script src="~/js/jquery-2.2.3.min.js"></script>*@
<!--<script type="text/javascript">  

        $("#Leave_Cate").change(function (event) {
            $.ajax({
                url: "/Leave/Mutiple_search?cate=" + $("#Leave_Cate").val(),
                type: "GET",
                context: this,
                success: function (data) {
                    var text = "";
                    var JLeave = JSON.parse(data);
                    console.log(JLeave);
                    var count = JLeave.length;
                    console.log(count);
                    text += '<div class="card"><div class="card-header"><table table class="table table-bordered table-hover">\
                            <thead>\
                                <tr style="text-align:center">\
                                    <th>部門名稱</th>\
                                    <th>員工名稱</th>\
                                    <th>申請日</th>\
                                    <th>申請類別</th>\
                                    <th>請假起始日</th>\
                                    <th>請假結束日</th>\
                                    <th>請假原由</th>\
                                    <th>狀態</th>\
                                    <th>修改/刪除</th>\
                                </tr></thead><tbody>';

                    for (let i = 0; i < JLeave.length; i++) {

                        text += '<tr style="text-align:center">';
                        text += '<td>' + '@ViewData["CURRENT_LOGINED_USERDEPARTMENT"]'; /*寫死的不會轉換 可悲*/
                        //text += '<td>' + JLeave[i].CDepartmentId;  /*上行已呈現*/
                        text += '<td>' + '@ViewData["CURRENT_LOGINED_USERNAME"]';
                        //text += '<td>' + JLeave[i].CEmployeeId;

                        text += '<td>' + JLeave[i].CApplyDate;
                        //text += '<td>' + JLeave[i].CLeaveCategory;
                        console.log(@ViewBag.Leave_Catename)
                       text += '<td>' + '@(Url.Action("Enum_LeaveCate", "Leave", new { @cate = 4 }))';


                        text += '<td>' + JLeave[i].CLeaveStartTime;
                        text += '<td>' + JLeave[i].CLeaveEndTime;
                        text += '<td>' + JLeave[i].CReason;
                        text += '<td>' + JLeave[i].CCheckStatus;

                        @*text += '<td>' +@{  
                            if(@:JLeave.CCheckStatus)
                       };*@
                    <!--}
                    console.log(text);

                    $("#Leave_table").html(text)
                }
            });
            $(this).css("background-color", "#FFFFCC");
        });


   
</script>-->   @*直接key 上版面 (不推薦)*@

<script src="~/theme/plugins/jquery-knob/jquery.knob.min.js"></script>
<script>
    var x = "";
    $(".Leave_Distinguish").change(function () {    //非同步篩選資料

        x = $("#Leave_Cate").val()//★透過Name屬性取得輸入值
        y = $("#Leave_Statues").val()
        a = $("#Leave_Startday").val()
        b = $("#Leave_Endday").val()
        console.log(x); //傳入型態:stirng
        console.log(y);
        console.log(a);
        console.log(b);
       

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Leave/Mutiple_search",
            data: { cate: x, status:y, start:a,end:b},
            success: function (data) {
                console.log("有進去");
                $("#Leave_table").html(data);
            },
            error: function (msg) {
            alert("error:" + msg);
            }
        })
    });


    $("#texting").click(function () {

        console.log("aa");
        $.ajax({

            type: "get",
            dataType: "html",
            url: "/Leave/newLeaveApply",
            success: function (data) {
                console.log(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }





        })


    });




    $(function () {    // 1 = 病假  2 = 事假  3 = 生理價  5 = 特休   ★計算個假別所剩餘時間

        
        var sick = $(".1").html();
        if (isNaN(sick)) sick = 0; 
        var sick_count = 240 - sick;
        
        $(".SICK").val(sick_count);

        //var String_sick = sick_count.toString();
 



        var thing = $(".2").html();
        if (isNaN(thing)) thing = 0; 
        var thing_count = 112 - thing;
        $(".THING").val(thing_count);


        var blood = $(".3").html();
        if (isNaN(blood)) blood = 0; 
        var blood_count = 18 - blood;
        $(".BLOOD").val(blood_count);

        var special_Total = $(".special").html();  //應有時數
        var special_Total = @ViewBag.Special;
        if (isNaN(special_Total)) special_Total = 0; 
        var special = $(".5").html();
        if (isNaN(special)) special = 0; 
       

        var special_count = special_Total - special;
        $(".SPECIAL").val(special_count);
        $(".SPECIAL").attr("data-max", special_Total);
        console.log("aaa"+ special_Total);


        
        localStorage.setItem('SICK', sick_count);    //將剩餘時數計入 LOCALStorage,讓其他頁面可以直接獲取
        localStorage.setItem('SPECIAL', special_count);
        localStorage.setItem('BLOOD', blood_count);

      

    })

</script>

<script>
    $(function () {
        /* jQueryKnob */

        $('.knob').knob({
            /*change : function (value) {
             //console.log("change : " + value);
             },
             release : function (value) {
             console.log("release : " + value);
             },
             cancel : function () {
             console.log("cancel : " + this.value);
             },*/
            draw: function () {

                // "tron" case
                if (this.$.data('skin') == 'tron') {

                    var a = this.angle(this.cv)  // Angle
                        ,
                        sa = this.startAngle          // Previous start angle
                        ,
                        sat = this.startAngle         // Start angle
                        ,
                        ea                            // Previous end angle
                        ,
                        eat = sat + a                 // End angle
                        ,
                        r = true

                    this.g.lineWidth = this.lineWidth

                    this.o.cursor
                        && (sat = eat - 0.3)
                        && (eat = eat + 0.3)

                    if (this.o.displayPrevious) {
                        ea = this.startAngle + this.angle(this.value)
                        this.o.cursor
                            && (sa = ea - 0.3)
                            && (ea = ea + 0.3)
                        this.g.beginPath()
                        this.g.strokeStyle = this.previousColor
                        this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sa, ea, false)
                        this.g.stroke()
                    }

                    this.g.beginPath()
                    this.g.strokeStyle = r ? this.o.fgColor : this.fgColor
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth, sat, eat, false)
                    this.g.stroke()

                    this.g.lineWidth = 2
                    this.g.beginPath()
                    this.g.strokeStyle = this.o.fgColor
                    this.g.arc(this.xy, this.xy, this.radius - this.lineWidth + 1 + this.lineWidth * 2 / 3, 0, 2 * Math.PI, false)
                    this.g.stroke()

                    return false
                }
            }
        })
        /* END JQUERY KNOB */

    })

</script>


