@model IEnumerable<MyHR_Web.ViewModel.TUserViewModel>
@*@model IEnumerable<MyHR_Web.Models.TUser>*@

@{ ViewData["Title"] = "Profile"; }

<style>
    h2 {
        background-color: #cbb2ae;
        border-left: 5px solid #808080;
        font-family: "微软雅黑", "宋体", "黑体", Arial;
        font-size: 25px;
        height: 80px;
        line-height: 80px;
        font-weight: bold;
        text-shadow: 2px 2px 3px #222222;
        color: #FFFFFF;
        padding-left: 10px;
    }
</style>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h2>個人資料</h2>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">
                    <!-- todo wz -->
                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img id="imgid"
                                     class="profile-user-img img-fluid img-circle"
                                     src="~/theme/dist/img/user4-128x128.jpg"
                                     alt="User profile picture"
                                     onclick="changeImg()">


                                @*<img id="imgid" />*@
                                <!-- todo wz -->

                            </div>

                            <h3 class="profile-username text-center">@ViewData["CURRENT_LOGINED_USERNAME"]</h3>

                            <p class="text-muted text-center">@ViewData["CURRENT_LOGINED_USERJOBTITLE"]</p>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">關於我</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> 部門</strong>

                            <p class="text-muted">
                                @ViewData["CURRENT_LOGINED_USERDEPARTMENT"]
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i>職位</strong>

                            <p class="text-muted">@ViewData["CURRENT_LOGINED_USERJOBTITLE"]</p>

                            <hr>


                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header p-2">
                            <ul class="nav nav-pills">
                                <li class="nav-item"><a class="nav-link active" href="#settings" data-toggle="tab">settings</a></li>
                            </ul>
                        </div><!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="settings">
                                    <form asp-action="RepairEdit">
                                        @foreach (var item in Model)
                                        {

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.CEmployeeName)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CEmployeeName)>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.CEmployeeEnglishName)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CEmployeeEnglishName)>

                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CPassWord)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CPassWord)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.COnBoardDay)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.COnBoardDay)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CByeByeDay)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CByeByeDay)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CGender)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CGender)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CEmail)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CEmail)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CAddress)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CAddress)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.CDepartmentId)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CDepartmentId)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CJobTitleId)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CJobTitleId)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CSupervisor)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CSupervisor)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">  @Html.DisplayNameFor(model => model.CBirthday)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CBirthday)>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">@Html.DisplayNameFor(model => model.CPhone)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CPhone)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CEmergencyPerson)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CEmergencyPerson)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CEmergencyContact)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Html.DisplayFor(modelItem => item.CEmergencyContact)>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label"> @Html.DisplayNameFor(model => model.CAccountEnable)</label>
                                                <div class="col-sm-10">
                                                    <input class="form-control" readonly="readonly" value=@Enum.GetName(typeof(eAccount), item.CAccountEnable)>
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label class="col-sm-2 col-form-label">  @Html.DisplayNameFor(model => model.COnBoardStatusId)</label>
                                                <div class="col-sm-10">

                                                    <input class="form-control" readonly="readonly" value=@Enum.GetName(typeof(eOnBoard), item.COnBoardStatusId)>
                                                </div>
                                            </div>
                                            @Html.ActionLink("編輯", "ProfileEdit", new { id = item.CEmployeeId }, new { @class = "btn btn-success", @style = "filter: grayscale(50%)" })

                                        }
                                    </form>


                                </div>

                            </div>
                            <!-- /.tab-content -->
                        </div><!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<script>
    function doUpload() {

        const formdata = new FormData();
        formdata.append('photo', event.target.files[0]);
        fetch('/M05/UploadOneFile', {
            method: 'POST',
            body: formdata
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            document.write(data.msg);
        });

    }
    function changeImg() {


    }
    function load(img) {

        var r = new FileReader();
        r.onload = function () {
            var output = document.getElementById('imgid');
            output.src = r.result;
        }
        r.readAsDataURL(event.target.files[0])
    };


</script>
