@model IEnumerable<MyHR_Web.ViewModel.CAbsenceViewModel>
@{
    ViewData["Title"] = "List";
}
<div id="absence_table">
    <table id="example2" class="table table-bordered table-hover">
        <thead>
            <tr style="text-align:center">
                <th>序</th>
                <th style="display:none">@Html.DisplayNameFor(model => model.CApplyNumber)</th>
                <th>日期</th>
                <th>星期</th>
                <th>@Html.DisplayNameFor(model => model.COn)</th>
                <th>@Html.DisplayNameFor(model => model.COff)</th>
                <th>@Html.DisplayNameFor(model => model.CSatus)</th>
            </tr>
        </thead>
        <tbody>
            @{int count = 0; }
            @foreach (var item in Model)
            {
                count++;

                <tr style="text-align:center">
                    <td>@count</td>
                    <td style="display:none">@Html.DisplayFor(modelItem => item.CApplyNumber)</td>

                    @{
                        if (item.COn == null && item.COff != null)
                        {
                            <td>@Convert.ToString(string.Format("{0:yyyy-MM-dd}", item.COff))</td>
                            <td>@Convert.ToString(string.Format("{0:ddd}", item.COff))</td>
                        }
                        else if (item.COn != null && item.COff == null)
                        {
                            <td>@Convert.ToString(string.Format("{0:yyyy-MM-dd}", item.COn))</td>
                            <td>@Convert.ToString(string.Format("{0:ddd}", item.COn))</td>
                        }
                        else
                        {
                            <td>@Convert.ToString(string.Format("{0:yyyy-MM-dd}", item.COn))</td>
                            <td>@Convert.ToString(string.Format("{0:ddd}", item.COn))</td>
                        }
                        //else if (item.COn == null && item.COff == null)//如未打卡
                        //{
                        //<td>@Convert.ToString(string.Format("{0:yyyy-MM-dd}", item.COn))</td>
                        //<td>@Convert.ToString(string.Format("{0:ddd}", item.COn))</td>
                        //}

                    }
                    <td id="on" name="on">@Convert.ToString(string.Format("{0:hh:mm:ss}", item.COn))</td>
                    <td id="off" name="off">@Convert.ToString(string.Format("{0:hh:mm:ss}", item.COff))</td>
                    @{
                        if (item.CSatus == "異常")
                        {
                            <td id="status" name="status">@Html.ActionLink($"{item.CSatus}", "Edit", new { applyNum = item.CApplyNumber }, new { @class = "btn btn-danger", @style = "filter: grayscale(50%)", @type = "button" })</td>
                        }
                        else
                        {
                            <td id="status" name="status">@Html.DisplayFor(modelItem => item.CSatus)</td>
                        }
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
