@using Microsoft.AspNetCore.Http;
@using prjCoreDemo.ViewModel;;
@{string a = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID);}

@model IEnumerable<MyHR_Web.ViewModel.CAbsenceViewModel>
@{
    ViewData["Title"] = "List";
}
<html>
<head>
    <link href="~/css/Absence.css" rel="stylesheet" />
    <script src="~/js/Absence.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    <style>
        .red a {
            background-color: red !important;
            border-radius: 20px;
        }

        .yellow a {
            background-color: yellow !important;
            border-radius: 20px;
        }

        .green a {
            background-color: green !important;
            border-radius: 20px;
        }

        #absence_table{
            float:left;
            width:60%;
            margin-left:10px;
        }
        #calendar{
            float:right;
            width:38%;
            margin-left:10px;
        }
    </style>

</head>
<body>
    <div class="content-wrapper">
        <section class="content-header">
            <h2>打卡</h2>
        </section>
        <section class="content">
            <div class="clock">
                <button type="button" class="button" onclick="clockOn()" id="on" style="filter: grayscale(50%)">上班</button><br /><br />
                <button type="button" class="button" onclick="clockOff()" id="off" style="filter: grayscale(50%)">下班</button><br /><br />
                <input type="button" class="btn btn-info" id="setFace" style="filter: grayscale(50%)" value="人臉辨識打卡設定" /><br /><br />
                <input type="button" class="btn btn-info" id="setQR" style="filter: grayscale(50%)" value="QR Code打卡設定" />
            </div>
            <div class="content-wrapper">
                <body onload="ShowTime()">
                    <form id="form1" runat="server" class="nowTime">
                        <div id="showbox"></div>
                        <div id="showClock"><p>溫馨小提醒&nbsp:&nbsp上下班皆需打卡~</p></div>
                    </form>
                </body>

                <div class="container-fluid" id="absence_table">
                    <div class="row">
                        <div class="col-12">
                            <div class="card" >
                                <div class="card-header">
                                    <h3 class="card-title">
                                        查詢條件<br />
                                        起 :&nbsp <input type="date" />&nbsp迄 : &nbsp<input type="date" />&nbsp<input type="button" value="查詢" class="btn btn-success" style="filter: grayscale(50%)" />
                                        <div class="btn-group btn-group-toggle" data-toggle="buttons" style="filter: grayscale(50%)">
                                            <label class="btn btn-info active"><input type="radio" name="options" id="option1" autocomplete="off">當天</label>
                                            <label class="btn btn-info"><input type="radio" name="options" id="option2" autocomplete="off" checked>當週</label>
                                            <label class="btn btn-info"><input type="radio" name="options" id="option3" autocomplete="off">當月</label>
                                        </div>
                                        <a asp-action="Create" class="btn btn-warning" style="filter: grayscale(50%)">補登打卡紀錄</a>
                                    </h3>
                                </div>
                                <div class="card-body">
                                    <table id="example2" class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>@Html.DisplayNameFor(model => model.COn)</th>
                                                <th>@Html.DisplayNameFor(model => model.COff)</th>
                                                <th>狀態</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td id="on" name="on">@Html.DisplayFor(modelItem => item.COn)</td>
                                                    <td id="off" name="off">@Html.DisplayFor(modelItem => item.COff)</td>
                                                    <td id="status" name="status">@ViewData["clockStatus"]</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <div id="calendar" ></div>
            </div>
        </section>
    </div>
</body>
</html>

<script>
    var onTime = document.getElementsByName("example2").row[1].cell[0].firstChild.value;
    var offTime = document.getElementsByName("example2").row[1].cell[1].firstChild.value;
    console.log(onTime);
    console.log(offTime);
    //if (onTime.innerHTML) {

    //}
    var status = onTime - offTime;
    


        $(document).ready(function () {
            var red = ["2017-08-02", "2017-08-04", "2017-08-06"];
            var yellow = ["2017-08-09"];
            var green = ["2017-08-10", "2017-08-11"];

            $("#calendar").datepicker({
                defaultDate: '08/07/2017',      // Just for this demo longevity on SO ;)

                beforeShowDay: function (date) {
                    var dateISO = $.datepicker.formatDate('yy-mm-dd', date);
                    //console.log(dateISO);

                    if (red.indexOf(dateISO) > -1) {
                        return [true, "red"]        // Enabled, class
                    }
                    if (yellow.indexOf(dateISO) > -1) {
                        return [true, "yellow"]
                    }
                    if (green.indexOf(dateISO) > -1) {
                        return [true, "green"]
                    }
                    return [true]  // If not found, must at least return the enabled boolean.
                }
            });
        });


        @*document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("on").addEventListener("click", function () {
                var id =@ViewData["CURRENT_LOGINED_USERID"];
                var now = new Date();
                var nowtime = now.toLocaleString();
                var data = { "id": id, "COn": nowtime };

            $.post(
                "@Url.Action("getClockString")",
                { "c": JSON.stringify(data) },
                function (data) {
                }, "json"
            )

            }, false)
        }, false);*@

        function clockOn() {
            var id = @a;
            var now = new Date();
            var date = now.toISOString().substr(0,10);
            var nowtime = now.toLocaleString('chinese', { hour12: false });
            var data = id + "," + date+","+ nowtime ;

            $.post(
                "@Url.Action("getClockString_on")",
                { "c": JSON.stringify(data) },
                function (data) {
                }, "json"
            )
            var content = document.getElementById("showClock");
            content.innerHTML = nowtime + "您已打卡成功 ! 下班別忘記打卡 !";

        };

        function clockOff() {
            var id = @a;
            var now = new Date();
            var date = now.toISOString().substr(0,10);
            var nowtime = now.toLocaleString('chinese', { hour12: false });
            var data = id + "," + date+","+ nowtime ;

            $.post(
                "@Url.Action("getClockString_off")",
                { "c": JSON.stringify(data) },
                function (data) {
                }, "json"
            )
            var content = document.getElementById("showClock");

            content.innerHTML = nowtime + "您已打卡成功 ! 趕快回家吧 !";
        };

</script>

