@using Microsoft.AspNetCore.Http;
@using prjCoreDemo.ViewModel;;
@{
    string a = Context.Session.GetString(CDictionary.CURRENT_LOGINED_USERID);
    DateTime Late = DateTime.Today.AddHours(10);
    TimeSpan LateTime = Late.TimeOfDay;
    DateTime Coff = DateTime.Today.AddHours(18);
    TimeSpan CoffTime=Coff.TimeOfDay;
    var countNum = ViewBag.totalCountNum;
}

@model IEnumerable<MyHR_Web.ViewModel.CAbsenceViewModel>
@{
    ViewData["Title"] = "List";
}

<head>
    <link href="~/css/Absence.css" rel="stylesheet" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>

    <style>
        #absence_table {
            float: left;
            width: 98%;
            margin-left: 10px;
        }
        #left {
            width: 30%;
            float: left;
        }
        #right{
            width:69%;
            float:right;
        }
        #countNum {
            font-size: 20px;
            text-decoration: underline;
        }
    </style>
</head>
<div class="content-wrapper">
    <section class="content-header">
        <h2>打卡</h2>
    </section>
    <section class="content">
        <div id="left">
            <body onload="ShowTime()">
                <form id="form1" runat="server" class="nowTime" style="background-color:white ;padding:20px; border-radius:10px">
                    ⽬前時間&nbsp:&nbsp<br /><div id="showbox"></div>
                    <div id="showClock"></div>
                </form>
            </body>
            <br />
            <div>
                <button type="button" class="button" onclick="clockOn()" id="on" style="filter: grayscale(50%)">上班</button>&nbsp&nbsp<button type="button" class="button" onclick="clockOff()" id="off" style="filter: grayscale(50%)">下班</button><br /><br />
            </div>
            <div style="background-color:white ;padding:20px; border-radius:10px">
                <p id="tip">溫馨小提醒&nbsp:&nbsp</p><hr />
                <p id="tips">
                    1.&nbsp上下班皆需打卡<br />
                    2.&nbsp10:00(含)以後遲到需請假<br />
      				3.&nbsp若有異常需補打卡或是請假<br />
                    4.&nbsp每月補登打卡次數3次為上限<br />
                    5.&nbsp未18:00無法打下班卡，若要早退，需請假<br />                </p>
            </div>
        </div>
        <div id="right">
            <section class="content">
                    <form method="post">
                        <div style="background-color:white ;padding:20px; border-radius:10px">
                            <h3>查詢條件</h3>
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label class="col-lg-3 control-label">起&nbsp;:&nbsp;</label>
                                    <input type="date" name="sDate" id="sDate" class="absence">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="col-lg-3 control-label">迄&nbsp;:&nbsp;</label>
                                    <input type="date" name="eDate" id="eDate" class="absence">
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="col-lg-6 control-label">已補登次數&nbsp;:&nbsp;</label>
                                    <label id="countNum">@countNum&nbsp;次</label>
                                </div>
                                <div id="radioOption" class="btn-group btn-group-toggle col-md-4 form-group" data-toggle="buttons" style="filter: grayscale(50%)">
                                    <label class="btn btn-info"><input value="當日" type="radio" name="options" id="option1" autocomplete="off">當日</label>
                                    <label class="btn btn-info"><input value="當週" type="radio" name="options" id="option2" autocomplete="off" >當週</label>
                                    <label class="btn btn-info"><input value="當月" type="radio" name="options" id="option3" autocomplete="off" checked>當月</label>
                                </div>
                                <div class="col-md-4 form-group">
                                    <label class="col-lg-3 control-label">狀態&nbsp;:&nbsp;</label>
                                    <select class="absence" id="absence_Status">
                                        <option value="" disabled="" selected="">請選擇</option>
                                        <option value="正常">正常</option>
                                        <option value="遲到">遲到</option>
                                        <option value="異常">異常</option>
                                    </select>
                                </div>
                                <div class="col-md-4 form-group">
                                    <input type="button" id="btn_research" value="重新查詢" onclick="btn_research()" class="btn btn-success" style="filter: grayscale(50%)">
                                </div>
                            </div>
                        </div>
                    <hr />
                    <div id="absence_table">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr style="text-align:center">
                                    <th>序</th>
                                    <th style="display:none">@Html.DisplayNameFor(model => model.CApplyNumber)</th>
                                    <th>@Html.DisplayNameFor(model => model.CDate)</th>
                                    <th>星期</th>
                                    <th>@Html.DisplayNameFor(model => model.COn)</th>
                                    <th>@Html.DisplayNameFor(model => model.COff)</th>
                                    <th>@Html.DisplayNameFor(model => model.CStatus)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int count = 0; }
                                @foreach (var item in Model)
                                {
                                    count++;
                                    
                                <tr style="text-align:center">
                                    <td>@count</td>
                                    <td style="display:none">@Html.DisplayFor(modelItem => item.CApplyNumber)</td>
                                    <td>@Convert.ToString(string.Format("{0:yyyy/MM/dd}", item.CDate))</td>
                                    <td>@Convert.ToString(string.Format("{0:ddd}", item.CDate))</td>
                                    <td id="on" name="on">@Html.DisplayFor(modelItem => item.COn)</td>
                                    <td id="off" name="off">@Html.DisplayFor(modelItem => item.COff)</td>
                                    @{
                                        if (item.CStatus == "異常")
                                        {
                                            if(item.COn> LateTime&&item.COff<=CoffTime)
                                            {
                                                <td id="status" name="status">@Html.ActionLink($"{item.CStatus}", "LeaveCreate", new { }, new { @class = "btn btn-danger", @style = "filter: grayscale(50%)", @type = "button" })</td>
                                            }
                                            else
                                            {
                                                <td id="status" name="status">@Html.ActionLink($"{item.CStatus}", "Edit", new { applyNum = item.CApplyNumber }, new { @class = "btn btn-danger", @style = "filter: grayscale(50%)", @type = "button" })</td>
                                            }
                                        }
                                        else
                                        {
                                            <td id="status" name="status">@Html.DisplayFor(modelItem => item.CStatus)</td>
                                        }
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>

<script>
    //目前時間顯示
    function ShowTime() {
        var NowDate = new Date();
        var d = NowDate.getDay();
        var dayNames = new Array("星期⽇", "星期⼀", "星期⼆", "星期三", "星期四", "星期五", "星期六");
        document.getElementById('showbox').innerHTML = NowDate.toLocaleString() + '（' +
            dayNames[d] + '）';
        setTimeout('ShowTime()', 1000);
    }

    //未六點不可打下班卡
    $(function () {
        var d = new Date();
        var now = d.getHours();   //當前時間的小時
        d.setHours(18);//當日18時的million second
        var offTime = d.getHours();
        if (now < offTime) {
            document.getElementById("off").setAttribute("disabled", "disabled");
        }
        else {
            document.getElementById("off").removeAttribute("disabled");
        };
        }
    );

    //判斷昨天是否有打卡
    document.addEventListener("DOMContentLoaded", function () {
        var d = new Date();
        d.setTime(d.getTime() - 24 * 60 * 60 * 1000);
        var ysd = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/yesterdayVal",
            data: { ysd: ysd },
            success: function (data) {
                console.log("a");
                $("#absence_table").html(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })

        console.log(ysd);

    }, false);


    //打上班卡
    function clockOn() {
        var id = @a;
        var now = new Date();
        var date = now.toISOString().substr(0,10);

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/getClockString_on",
            data: { id: @a, date: date},
            success: function (data) {
                console.log("a");
                $("#absence_table").html(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
        //var content = document.getElementById("showClock");
        //content.innerHTML = nowtime + "您已打卡成功 ! 下班別忘記打卡 !";
    };

    //打下班卡
    function clockOff() {
        var id = @a;
        var now = new Date();
        var date = now.toISOString().substr(0,10);

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/getClockString_off",
            data: { id: @a, date: date},
            success: function (data) {
                console.log("a");
                $("#absence_table").html(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
        //var content = document.getElementById("showClock");
        //content.innerHTML = nowtime + "您已打卡成功 ! 趕快回家吧 !";
    };
    //查詢日期、狀態
    $(".absence").change(function () {
        var sta = $("#absence_Status").val();
        var sDate = $("#sDate").val();
        var eDate = $("#eDate").val();
        console.log(sDate + "/" + eDate );

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/date_search",
            data: { sDate: sDate, eDate: eDate, status: sta },
            success: function (data) {
                console.log("a");
                $("#absence_table").html(data);
            },
            error: function (msg) {
                alert("error:" + msg);
            }
        })
    });

    //重新查詢
    $("#btn_research").click( function () {

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/research",
            data: { id: @a},
            success: function (data) {
                console.log("research");
                $("#absence_table").html(data);
            },
            error: function () {
                alert("error:" + msg);
            }
        })
    });

    //當日當週當月查詢
    $("#radioOption").change(function () {
        var search_dwm = document.querySelector('input[name="options"]:checked').value;
        console.log(search_dwm);

        $.ajax({
            type: "get",
            dataType: "html",
            url: "/Absence/search_dwm",
            data: { id: @a , search_dwm: search_dwm},
            success: function (data) {
                console.log("research");
                $("#absence_table").html(data);
            },
            error: function () {
                alert("error:" + msg);
            }
        })
    })
</script>
